@CHARSET "UTF-8";

#mural-region {
  padding: 0px;
  margin: 0px 1px 1px 0px;
  overflow: hidden;
  background-color: #2d6ca9;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.position-relative {
  position: relative;
}

/*#mural-region {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  color: #000;
  padding: 0;
  margin: 2px;
  border: 1px solid #000;
  text-align: left;
  z-index: 1001;
  height: 600px;
}*/
ul#mural-region-nav {
  padding: 5px 22px;
  height: 26px;
  overflow: hidden;
}

ul#mural-region-nav li {
  display: inline;
  float: right;
  right: 20px;
  margin: 0 1px;
  background-color: #67b0d1;
  padding: 3px 3px 2px 5px;
  height: 21px;
  text-align: center;
  font-size:12px;
}

.close-mural-dialog {
  line-height: 36px; 
  background-color: gray; 
  float: left; 
  cursor: pointer; 
  padding: 0px 15px;
}

#mural-top-bar {
/*  float: left;
  width: 100%;*/
  height: 36px;
  overflow: hidden;
  position: relative;
  background-color: #2d6ca9;
  padding: 0;
  margin: 0;
}
#mural-back-to-dashboard{
	height:56px;
}
#mural-top-bar #mural-title {
  position: absolute;
  line-height: 36px;
  font-size: 18px;
  color: white;
  width: 70%;
  text-align: center;
  padding-left: 15%; 
}

/* #mural-region-bottom {
  height: 45px;
  overflow: hidden;
 line-height: 45px; 
}*/

a.mural-nav-link {  
  color: white;
  padding: 0px 12px;
  display: block;
  line-height: 26px;
  background-color: #e87352;
}

ul#mural-region-nav li.mural-nav-link-delete {
  padding: 0px;
}

ul#mural-region-nav li.mural-nav-link-duplicate {
  padding: 3px 8px 2px 8px;
}

.back-to-dashboard span {
  cursor: pointer;
  color: white;
}

/* Studio mural style */
ul#gallery-mural-list li,
ul#studio-mural-share-with-me-list li,
ul#studio-mural-list li {
  float:left;
  position: relative;
  margin: 5px;
}

ul#gallery-mural-list li.muralsettingicon,
ul#studio-mural-share-with-me-list li.muralsettingicon,
ul#studio-mural-list li.muralsettingicon {
  display: block;
  width: 122px;
  height: 122px;
}

ul#gallery-mural-list li span.muralthumb img,
ul#studio-mural-share-with-me-list li span.muralthumb img,
ul#studio-mural-list li span.muralthumb img {
  width: 122px;
  height: 122px;
}

#studio-panes-mural-list .set-cover,
ul#gallery-mural-list li a.studio-mural-list-item-link,
ul#studio-mural-share-with-me-list li a.studio-mural-list-item-link,
ul#studio-mural-list li a.studio-mural-list-item-link {
  display: block;
  width: 102px;
  height: 102px;
  padding:10px;
  position: absolute;
  left: 0;
  top:0;
}
#studio-panes-mural-list .set-cover {
  opacity:0;
  background:rgba(0,0,0,0.5);
  transition: all 0.3s linear;
  color:#fff;
}

#studio-panes-mural-list li:hover .set-cover {
  opacity:1;
}

ul#gallery-mural-list li a.studio-mural-settings,
ul#studio-mural-share-with-me-list li a.studio-mural-settings,
ul#studio-mural-list li a.studio-mural-settings{
  position: absolute;
  left: 2px;
  bottom: 2px;
}

/* #mural-iframe-content {
  margin-top: 56px;
} */