@CHARSET "UTF-8";

#mural-region {
  padding: 0px;
  margin: 0px 1px 1px 0px;
  overflow: hidden;
}

.position-relative {
  position: relative;
}

/*#mural-region {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  color: #000;
  padding: 0;
  margin: 2px;
  border: 1px solid #000;
  text-align: left;
  z-index: 1001;
  height: 600px;
}*/

ul#mural-region-nav li {
  display: inline;
  float: right;
  right: 20px;
  padding: 20px;
}

.close-mural-dialog {
  line-height: 40px; 
  background-color: gray; 
  display: block; 
  cursor: pointer; 
  padding: 0px 15px;
}