@charset "utf-8";
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	max-height:100%;
	max-width:100%;
}

/* general */
html{
	background:#0069ac;
	
}
body{
	line-height: 1.5;
	font-size:85%;
	overflow-x:hidden;
	font-family:Tahoma;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
ul:after,
li:after{
	content:'';
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
/*overdieen*/
.item-list ul li{
	margin:0;
}
/*community*/
.community{
	background:rgba(180,180,180,0.7);
	width:63.5%;
	margin:0 auto;
	position:relative;
	z-index:1;
	padding-top:30px;
	height:710px;
	top:-700px;
	transition-property: top;
	transition-duration: .2s;
	transition-timing-function: linear;
	transition-delay: 0;
}
.community.active{
	top:0;
}
@keyframes colorChange {
  from {background-color: rgba(154,154,154,0.7);}
  to {background-color: rgba(200,200,200,0.7);}
}
@-webkit-keyframes colorChange {
  from {background-color: rgba(154,154,154,0.7);}
  to {background-color: rgba(200,200,200,0.7);}
}
@keyframes colorChange1 {
  from {background-color: rgba(200,200,200,0.7);}
  to {background-color: rgba(240,240,240,0.7);}
}
@-webkit-keyframes colorChange1 {
  from {background-color: rgba(200,200,200,0.7);}
  to {background-color: rgba(240,240,240,0.7);}
}
@keyframes colorChange-profile {
  from {background-color: rgba(105,162,173,0.7);}
  to {background-color: rgba(105,162,173,1.0);}
}
@-webkit-keyframes colorChange-profile {
  from {background-color: rgba(105,162,173,0.7);}
  to {background-color: rgba(105,162,173,1.0);}
}
@keyframes opacity {
  from {opacity: .7;}
  to {opacity: 1.0;}
}
@-webkit-keyframes opacity {
  from {opacity: .7;}
  to {opacity: 1.0;}
}

.community.flash,
.stage-selector-handler em.flash{
  animation:colorChange 0.5s infinite;
  -webkit-animation:colorChange 0.5s infinite;
}
.stage-box.flash,
.stage-selector-handler span.flash{
  animation:colorChange1 0.5s infinite;
  -webkit-animation:colorChange1 0.5s infinite;
}
.user-profile:hover{
  animation:colorChange-profile 0.5s infinite;
  -webkit-animation:colorChange-profile 0.5s infinite;
}
.community .region{
	margin:0 35px;
}
.region-community h2,
#block-edgemakers-stage-stage-list h3{
	color:#fff;
	font-size:1.8em;
	padding-bottom:.2em;
}
#block-views-community-users-block{
	margin-bottom:1em;
}
#block-views-community-users-block .view-content td{
	padding-right:14px;
	width:74px;
}
#block-views-community-users-block .view-content td img,
#block-edgemakers-community-activity .item-list li.user-picture img{
	width:74px;
	height:74px;
	display: block;
}
#block-edgemakers-community-activity .item-list li>img{
	float:left;
	padding-right:1em;
	width:74px;
}
#block-edgemakers-community-activity .item-list li .cont{
	background-color:rgba(245,195,38,0.9);
	float:left;
	width:85%;
	padding:10px;
	min-height:54px;
}
.community .indicator{
	position:absolute;
	text-align:center;
	width:100%;
	bottom:0;
}
.community .indicator span{
	border-radius:20px;
	display:inline-block;
	margin:auto;
	width:20px;
	height:20px;
	background:#fff;
	cursor: pointer;
}
.community .indicator span:hover{
	background:#f5c226;
	color:#fff;
}

/* toolbar */
.toolbar-stage{
	position:absolute;
	top:90px;
	left:0;
	z-index:1;
}
.tool-bar{
	position:relative;
   
}
.toolbar-handler{
	width:50px;
	height:50px;
	background:url(../images/newui_ico_toolbar.png) center center no-repeat rgba(154,154,154,0.7);
	cursor:pointer;
	position:absolute;
	z-index:5;
	top:0;
	left:0;
}
.toolbar-handler:hover,
.toolbar-handler.active{
	background:url(../images/newui_ico_toolbar.png) center center no-repeat;
	
}
.toolbar-handler:hover{
	animation:colorChange 0.5s infinite;
  	-webkit-animation:colorChange 0.5s infinite;
}

.toolbar-box{
	position:absolute;
	width:180px;
	top:0;
	left:-180px;
	background: url(../images/newui_toolbar_bg.png) repeat-y;
	transition-property: left;
	transition-duration: .2s;
	transition-timing-function: linear;
	transition-delay: 0;
  	
}
.toolbar-box.active{
	left:0;
}
.toolbar-item{
	min-height:54px;
}
.toolbar-item h4{
	line-height:54px;
	padding-left:60px;
	background-position:left center;
	background-repeat: no-repeat;
	font-weight:bold;
	font-size:1.2em;
	color:#fff;
}
.toolbar-item h4 a,
.toolbar-item h4 a:hover{
	color:#fff;
	
}
.toolbar-item.add-an-idea h4{
	background-image:url(../images/newui_ico_toolbar_additem.png);
}
/* stage-selector */
.stage-selector{
	overflow:hidden;
	width:50px;
	position:absolute;
	top:600px;
	transition-property: width;
	transition-duration: .2s;
	transition-timing-function: linear;
	transition-delay: 0;
}
.stage-selector:hover,
.stage-selector-handler{
	width:180px;
}
.stage-selector-handler,
.stage-box{
	float: left;
}
.stage-box{
	
	padding:15px;
	/* for test */
	
	background:rgba(200,200,200,0.7);
}
.stage-item{
	float:left;
	padding:0 10px;
	text-align:center;
}
.stage-item:hover{
	background-color:rgba(230,230,230,0.7);
}
.stage-selector.active,
.stage-selector-inner{
	width:685px;
}

.stage-selector-handler em{
	float:left;
	width:50px;
	height:50px;
	background:url(../images/newui_ico_stage_selector.png) center center no-repeat rgba(154,154,154,0.7);
	cursor:pointer;
}

.stage-selector-handler span{
	float:left;
	width:130px;
	height:50px;
	line-height:50px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	background:rgba(200,200,200,0.7)
}

/* sliding panes */
.sliding-panes{
	position:absolute;
	width:70px;
	top:90px;
	right:0;
}
.pane-handler{
	width:35px;
	height:64px;
	border-radius: 10px 0 0 10px;
	margin-bottom:8px;
	float:right;
	cursor:pointer;
	clear:right;
	transition-property: width border-radius;
	transition-duration: .1s;
	transition-timing-function: linear;
	transition-delay: 0;
	background-repeat:no-repeat;
	background-position: center center;
}
.studio-handler{
	background-color:rgba(189,21,54,1.0);
}
.chanllenge-handler{
	background-color:rgba(19,119,151,1.0);
}
.competitions-handler{
	background-color:rgba(244,126,64,1.0);
}
.pane-handler:hover{
	width:70px;
	border-radius:0;
	animation:opacity 0.5s infinite;
   -webkit-animation:opacity 0.5s infinite;
}
.pane-handler.active{
	width:70px;
	border-radius:0;
}
.pane{
	position:absolute;
	padding: 10px 0;
	border-radius:10px;
	top:90px;
	transition-property: right;
	transition-duration: .2s;
	transition-timing-function: linear;
	transition-delay: 0;
    /* for test */
	height:680px;
	background-repeat: no-repeat;
	background-position: center center;
}
.pane.show{
	right:70px;
}
#studio{
	background-image: url(../images/example_03.png);
	background-color:rgba(189,21,54,1.0);
}
#studio.show{
	border-radius: 10px 0 10px 10px;
}
#challenge{
	background-image: url(../images/example_04.png);
	background-color:rgba(19,119,151,1.0);
}
#competitions{
	background-image: url(../images/example_05.png);
	background-color:rgba(244,126,64,1.0);
}
/*.pane-handler.active:hover{
	background-image:url(../images/newui_ico_pane_handler_ac.png);
}*/

/* user profile */
.user-profile{
	width:54px;
	height:54px;
	padding:4px;
	top:748px;
	right:4px;
	position:absolute;
	border-radius:30px;
	background:url(../images/newui_bg_profile.png) center center no-repeat;
	cursor: pointer;
}
.user-profile:hover{
	background:url(../images/newui_bg_profile.png) center center no-repeat rgba(105,162,173,0.7);
}

.user-profile-inner-url,
.user-profile-inner{
   border-radius:30px;
   position:absolute;
   top:4px;
   left:4px;
    /* test */
   height:54px;
   width:54px;
}
.user-profile-inner-url img,
.user-profile-inner img{
	max-width:100%;
	border-radius:30px;
}
.user-box{
	position:absolute;
	right:27px;
	bottom:27px;
	background:rgba(105,162,173,0.7);
	width:0;
	height:0;
	overflow:hidden;
	padding:5px;
	color: #fff;
	text-align:center;
	font-size:1.2em;
	transition-property: width height;
	transition-duration: .2s;
	transition-timing-function: linear;
	transition-delay: 0;
}
.user-profile.active .user-box{
	width:100px;
	height:100px;
}
.user-box h4{
	font-weight:bold;
	margin-bottom:.5em;
}
.user-box a{
	color:#fff;
}
/* content */
.main-content{
	position:absolute;
	top:150px;
	left:200px;
	height:500px;
	overflow:hidden;
	padding:20px;
	background-color: rgba(255,255,255,0.1);
}
#block-edgemakers-stage-stage-list #stage-set-list li{
	float:left;
	width:22%;
	padding:1%;
	margin:1px;
	text-align:center;
	height:100px;
	background-color: rgba(255,255,255,0.3);
}
