@charset "utf-8";
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	max-height:100%;
	max-width:100%;
}

/* general */
html{
	background:url(../images/bg_body.png) no-repeat center center fixed;
	-moz-background-size: cover;
	background-size: cover;
}
body{
	line-height: 1.5;
	font-size:85%;
	overflow-x:hidden;
	font-family:Tahoma;	
}
label{
	color:#000;
	font-weight:bold;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
ul:after,
.item-list li:after,
#block-views-community-users-block .view:after{
	content:'';
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
/*overdieen*/
.item-list ul li{
	margin:0;
}
.form-item{
	margin-top:0;
}
/*Teacher's Notes*/
.teacher-notes{
	background-color:rgba(255,255,255,0.7);
	width:580px;
	margin:0 auto;
	position:absolute;
	top:710px;
	z-index:1;
	padding:10px;
	display:none;
	transition-property: top;
	transition-duration: .2s;
	transition-timing-function: linear;
	transition-delay: 0;
}
.teacher-notes .teacher-notes-cont{
	height:0;
	clear:both;
	overflow:hidden;
	font-size:.8em;
	transition-property: height;
	transition-duration: .2s;
	transition-timing-function: linear;
	transition-delay: 0;
}
.teacher-notes.active .teacher-notes-cont{
	height:auto;
}
.teacher-notes .teacher-notes-header{
	width:280px;
	float:left;
	font-size:1.2em;
}
.teacher-notes .indicator{
	width:300px;
	float:left;
}
.teacher-notes .indicator span{
	border-radius:20px;
	display:inline-block;
	margin:auto;
	width:20px;
	height:20px;
	background:#fff;
	cursor: pointer;
}
.teacher-notes .indicator span:hover{
	background:#f5c226;
	color:#fff;
}
/*community*/
.community{
	background:rgba(180,180,180,0.7);
	width:760px;
	margin:0 auto;
	position:relative;
	z-index:1;
	padding-top:30px;
	height:670px;
	top:-660px;
	transition-property: top;
	transition-duration: .2s;
	transition-timing-function: linear;
	transition-delay: 0;
}
.community.active{
	top:0;
}
@keyframes colorChange {
  from {background-color: rgba(154,154,154,0.7);}
  to {background-color: rgba(200,200,200,0.7);}
}
@-webkit-keyframes colorChange {
  from {background-color: rgba(154,154,154,0.7);}
  to {background-color: rgba(200,200,200,0.7);}
}
@keyframes colorChange1 {
  from {background-color: rgba(200,200,200,0.7);}
  to {background-color: rgba(240,240,240,0.7);}
}
@-webkit-keyframes colorChange1 {
  from {background-color: rgba(200,200,200,0.7);}
  to {background-color: rgba(240,240,240,0.7);}
}
@keyframes colorChange-profile {
  from {background-color: rgba(105,162,173,0.7);}
  to {background-color: rgba(105,162,173,1.0);}
}
@-webkit-keyframes colorChange-profile {
  from {background-color: rgba(105,162,173,0.7);}
  to {background-color: rgba(105,162,173,1.0);}
}
@keyframes opacity {
  from {opacity: .7;}
  to {opacity: 1.0;}
}
@-webkit-keyframes opacity {
  from {opacity: .7;}
  to {opacity: 1.0;}
}

.community.flash,
.stage-selector-handler em.flash{
  animation:colorChange 0.5s infinite;
  -webkit-animation:colorChange 0.5s infinite;
}
.stage-box.flash,
.stage-selector-handler span.flash{
  animation:colorChange1 0.5s infinite;
  -webkit-animation:colorChange1 0.5s infinite;
}

.community .region{
	margin:0 35px;
}
.region-community h2,
#block-edgemakers-stage-stage-list h3{
	color:#fff;
	font-size:1.8em;
	padding-bottom:.2em;
}
.region-community h2{
	text-align:center;
}
#block-views-community-users-block .view-header{
	width:92px;
	text-align:center;
	float:left;
	line-height:24px;
	font-weight:bold;
	background-color:rgba(245,195,38,0.6);
}
#block-views-community-users-block .view-header a{
	color:#fff;
}
#block-views-community-users-block .view-content {
	padding:5px 10px;
	background-color:rgba(245,195,38,0.6);
	float:left;
	width:578px;
}
.allusers #block-views-community-users-block .view-content{
	padding:40px 10px;
}
.allusers #block-views-community-users-block ul.pager{
	margin:0 0 0 92px;
	background:#98813f;
	border-radius:5px;
	text-align:right;
	padding:5px 15px;
	position:relative;
	top:-30px;
}
.allusers #block-views-community-users-block ul.pager li{
	display:inline-block;
	line-height:18px;
	width:18px;
	height:18px;
	text-align:center;
	background:#c8a250;
	padding:0;
}
.allusers #block-views-community-users-block ul.pager li:hover{
	background:#fff;
}
.allusers #block-views-community-users-block ul.pager li:hover a{
	color:#949494;
	text-decoration:none;
}
.allusers #block-views-community-users-block ul.pager li.pager-current{
	background:#fff;
	color:#949494
}
.allusers #block-views-community-users-block ul.pager li a{
	display:block;
	color:#fff;
	
}
#block-views-community-users-block{
	margin-bottom:1em;
}
#block-views-community-users-block .view-content td{
	padding:4px;
}
#block-views-community-users-block .view-content td img,
#block-edgemakers-community-activity .item-list li.user-picture img{
	width:56px;
	height:56px;
	display: block;
}

#block-edgemakers-community-activity .content{
	background-color:rgba(245,195,38,0.6);
	padding:10px;
	
	overflow:auto;
}
#block-edgemakers-community-activity .item-list li{
	margin-bottom:12px;
}
#block-edgemakers-community-activity .item-list li img{
	float:left;
	margin-right:6px;
	width:50px;
	height:50px;
	border-radius:30px;
	border:3px solid #fff;
	box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.17);
}
#block-edgemakers-community-activity .item-list li .cont{
	font-size:12px;
	float:left;
	background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.17);
    min-height: 40px;
    padding: 5px 10px;
    width:588px;
}
#block-edgemakers-community-activity .usertime .time{
	float:right;
	color:#e1e1e1;
}
#block-edgemakers-community-activity  span.username{
	font-weight:bold;
	color:#f6bf17;
}
#block-edgemakers-community-activity  a{
	color:#f6bf17;
}
.community .indicator{
	position:absolute;
	text-align:center;
	width:100%;
	bottom:0;
}
.community .indicator span{
	border-radius:20px;
	display:inline-block;
	margin:auto;
	width:20px;
	height:20px;
	background:#fff;
	cursor: pointer;
}
.community .indicator span:hover{
	background:#f5c226;
	color:#fff;
}

/* community viewall */
.view-community-users ul.pager {
  display:none;
}
.view-community-users table tr {
  display:none;
}
.view-community-users table tr.row-1 {
  display:table-row;
}
.view-community-users table tr.row-2 {
  display:table-row;
}
.allusers .view-community-users ul.pager {
  display:block;
}
.allusers .view-community-users table tr {
  display:table-row;
}
.allusers .view-community-users .view-content {
  height: 500px;
}
.allusers #block-edgemakers-community-activity {
  display:none;
}

/* community facewall profile */
#community-user-profile{
	height:243px;
	position:relative;
	top:-30px;
	background:url(../images/newui_bg_ggb.png) no-repeat;
	padding-top:76px;
	
}
#community-user-profile .userinfo{
	box-shadow: 0 2px 2px #909090;
	height:70px;
	border-radius:10px;
	background-color:rgba(255,255,255,0.7);
}
#community-user-profile .userinfo div{
	float:left;
}
#community-user-profile .userinfo .username{
	width:265px;
	padding:10px 0 0 65px;
}
#community-user-profile .userinfo .userpic{
	position:relative;
	width:100px;
}
#community-user-profile .userinfo .userpic img{
	position:absolute;
	min-width:94px;
	min-height:94px;
	width:auto;
	height:auto;
	border:3px solid #fff;
	box-shadow: 0 1px 2px #909090;
	border-radius:50px;
	top:-12px;
}
#community-user-profile .userinfo .useredu{
	padding:10px 0 0 120px;
	width:300px;
}
#community-user-profile .userinfo .username,
#community-user-profile .userinfo .useredu .userschool{
	color:#53b99d;
	font-size:20px;
}
#community-user-profile .userinfo .useredu .userclass{
	display:block;
	text-shadow:0 1px 0 #fff;
}
#back-community{
	background: url("../images/arrowBackToStage.png") no-repeat scroll 10px 10px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    padding: 10px 20px 0 50px;
    text-shadow: 0 1px 0 #fff;
}
#back-community:hover{
	color:#111;
}

/* rewrite the login/register/request new password */
div.ctools-modal-content .modal-content{
	padding:32px 0 0 0;
	overflow-x:hidden;
}

div.modal-forms-modal-content .popups-container{
	background:none;
	border-radius:0;
}
div.modal-forms-modal-content .modal-title{
	display:none;
}
div.modal-forms-modal-content .item-list ul{
	margin:0;
	border-bottom:20px solid #fff;
}
div.modal-forms-modal-content .item-list ul li{
	float:left;
	
	font-style:italic;
	margin:0 2px 0 0;
	
	font-size:14px;
	font-weight:normal;
}
div.modal-forms-modal-content .item-list ul li a{
	color:#fff;
	background:#60cd9b;
	padding:10px 14px;
	display:block;
}
div.modal-forms-modal-content .item-list ul li a.active{
	padding-top:17px;
	background:#fff;
/*	color:#000102; */
	color:rgb(96, 205, 155);
	margin-top:-7px;
}
div.modal-forms-modal-content .modal-header{
	top:52px;
	float:right;
	position:relative;
	z-index:9;
	right:26px;
	padding:0
}
#modal-content .form-item,
#modal-content .form-actions{
	background:#fff;
	margin:0;
	font-size:12px;
}

#modal-content .form-item{
	padding:8px 3em;
}
#modal-content .form-item .form-item{
	padding:6px 0;
}

#modal-content .form-item input[type="text"],
#modal-content .form-item input[type="password"]{
	height:34px;
	padding:0 10px;
	border:1px solid #e6e9ea;
	box-shadow: 0 2px 3px #eee inset; 
	color:#7b8a97;
	width:100%;
}
#modal-content  #user-pass .form-item input[type="text"]{
	width:50%;
}
#modal-content  #user-login .form-item{
	width:38.7%;
	float: left;
	padding-bottom:30px;
}
#modal-content  #user-login .form-item input{
	width:100%;
}
#modal-content .form-actions{
	padding:6px 2em 30px;
	text-align:right;
}
#modal-content .form-actions input.form-submit{
	background: url(../images/upload_ico_actionarrow.png) right center no-repeat #3bbec0;
	padding:10px 40px 10px 15px;
	font-weight:normal;
}
#modal-content  #user-pass .form-item-name{
	text-align:center;
	padding-bottom:20px;
}
#modal-content #user-register-form .password-strength,
#modal-content #user-register-form  div.password-confirm{
	display:none;
}

#modal-content #user-register-form .form-item{
	width:38%;
	float:left;
}

#modal-content #user-register-form .login-regisiter-newpassword-wrapper .form-item {
  width: 100%;
}

#modal-content #user-register-form .form-item.form-item-fte-assign-user-role,
#modal-content #user-register-form #edit-field-profile-picture{
	float:left;
	width:43%;
	padding-top:0;
}
#modal-content #user-register-form #edit-field-profile-picture .form-item.form-type-managed-file{
	padding-top:0;
	padding-bottom:30px;
}
#modal-content #user-register-form #edit-field-profile-picture .form-item.form-type-managed-file .image-widget-data{
	padding-top:10px;
}
#modal-content #user-register-form #edit-field-profile-picture .form-item.form-type-managed-file .image-widget-data input{
	
  	padding:0;
    
}
#modal-content #user-register-form  #edit-fte-assign-user-role .form-item,
#modal-content #user-register-form  #edit-field-profile-picture .form-item{
	float:none;
	width:auto;
	padding:6px 0 0;
}
#modal-content #user-register-form .form-item.form-type-password-confirm{
	width:90%;
}

#modal-content .login-regisiter-newpassword-wrapper .form-item {
  padding: 0px;
}
#modal-content #user-register-form .login-regisiter-newpassword-wrapper .form-type-password-confirm.form-item .form-item {
  width: 48%;
  padding: 0;
}
#modal-content #user-register-form .form-type-password-confirm.form-item .form-item{
	float:left;
	
	clear:none;
	width:47%;
	padding:0 3% 0 0;
}

#modal-content #user-register-form .login-regisiter-newpassword-wrapper .form-type-password-confirm.form-item .form-item.confirm-parent {
  padding: 0;
}

#modal-content #user-register-form .form-type-password-confirm.form-item .form-item.confirm-parent{
	padding:0 0 0 3%;
	padding-right:0;
}
#modal-content #user-register-form .form-type-password-confirm.form-item .form-item input{
	width:90%;
}
#modal-content #user-register-form .password-suggestions {
  position: absolute;
  left: -9999px;
}

div.ctools-modal-content .form-item .description{
	display:none;
}

/*new template of login*/
.login-regisiter-newpassword-wrapper{
	width:500px;
	position:absolute;
	top:90px;
	color:#3f4b56;
	display:none;
}
.lrn-tab li{
	float:left;
	color:#fff;
	background:#60cd9b;
	padding:10px 20px;
	cursor:pointer;
	font-size:16px;
	font-style:italic;
	text-align:center;
	border-top:8px solid rgba(255,255,255,0);
	margin-right:2px;
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.lrn-tab li.active{
	background:#fff;
	border-top:8px solid rgba(255,255,255,1);
	color:#60cd9b;
}

.box-register,
.box-login,
.box-newpassword{
/*	background:#fff; */
	padding:25px 25px 10px;
  display: block;
  background-color: transparent;
}
.box-register.tab-active,
.box-login.tab-active,
.box-newpassword.tab-active{
	display:block;
}

/* #modal-content #user-register-form .form-type-password-confirm.form-item .form-item input */

#modal-content .login-regisiter-newpassword-wrapper input[type="text"],
#modal-content #user-register-form .login-regisiter-newpassword-wrapper .form-item input[type="password"]{
	height:34px;
	padding:0 2%;
	border:1px solid #e6e9ea;
	box-shadow: 0 2px 3px #eee inset; 
	color:#7b8a97;
	width:180px;
	
}
.login-regisiter-newpassword-wrapper input[type="radio"]{
	position:relative;
	top:3px;
}
.login-regisiter-newpassword-wrapper .submit{
	text-align:right;
	padding-top:15px;
}
.login-regisiter-newpassword-wrapper .submit button{
	background: url(../images/newui_ico_actionarrow.png) right center no-repeat #60cd9b;
	padding:6px 30px 6px 15px;
	border:none;
	color:#fff;
}
.box-register table{
	width:450px;
}
.box-register td{
	width:50%;
	padding:2%;
}
.box-register dt{
	padding-bottom:5px;
}
.box-register dd{
	padding-left:5px;
	color:#7b8a97
}

.box-login input:first-child{
	margin-right:4%;
}
.box-newpassword .items{
	text-align:center;
}
/* toolbar */
.toolbar-stage{
	position:absolute;
	top:90px;
	left:0;
	z-index:1;
}
.tool-bar{
	position:relative;
   
}
.toolbar-handler{
	width:50px;
	height:50px;
	background:url(../images/newui_ico_toolbar.png) center center no-repeat rgba(154,154,154,0.7);
	cursor:pointer;
	position:absolute;
	z-index:5;
	top:0;
	left:0;
}
.toolbar-handler:hover,
.toolbar-handler.active{
	background:url(../images/newui_ico_toolbar.png) center center no-repeat;
	
}
/*.toolbar-handler:hover{
	animation:colorChange 0.5s infinite;
  	-webkit-animation:colorChange 0.5s infinite;
}*/

.toolbar-box{
	position:absolute;
	width:180px;
	top:0;
	left:-180px;
	background: url(../images/newui_toolbar_bg.png) repeat-y;
	transition-property: left;
	transition-duration: .2s;
	transition-timing-function: linear;
	transition-delay: 0;
  	
}
.toolbar-box.active{
	left:0;
}
.toolbar-item{
	min-height:54px;
}
.toolbar-item.test1{
	border-top:3px solid #e6e4e3;
	background: url(../images/newui_ico_tooblar_upload.png) left center no-repeat;
}
.toolbar-item.test1 .item-list ul{
	margin:0;
	background:none;
}
.toolbar-item.test1 h4 .item-list{
	
	display:block;
}
.toolbar-item.media h4{
	background-image: url(../images/newui_ico_tooblar_media.png);
}
.toolbar-item.mural h4{
	background-image: url(../images/newui_ico_toolbar_mural.png);
}
.toolbar-item h4.has-child em{
	display:inline-block;
	width:14px;
	height:12px;
	background: url(../images/newui_ico_tooblar_em_haschild.png) no-repeat;
	float:right;
	margin:24px 12px 0 0;
	cursor:pointer;
}
.toolbar-item.add-an-idea h4{
	background-image:url(../images/newui_ico_toolbar_additem.png);
}
.toolbar-item.tour-guides{
	border-top:3px solid #e6e4e3;
	padding-left:60px;
	background:url(../images/newui_ico_tooblar_tourguides.png) left center no-repeat;
}
.toolbar-item.tour-guides h4{
	line-height: normal;
	padding-left:0;
	padding-bottom:10px;
	padding-top:10px;
}
.toolbar-item h4{
	line-height:54px;
	padding-left:60px;
	background-position:left center;
	background-repeat: no-repeat;
	font-size:16px;
	color:#fff;
}
.toolbar-item.title h4{
	border-right:13px solid #928c7d;
}
.toolbar-item  a,
.toolbar-item  a:hover{
	color:#fff;
}
.toolbar-item .item-list,
.region-tool-bar .block h2{
	display:none;
}
.toolbar-item .item-list.active{
	display:block;
}
.toolbar-item .item-list ul{
	margin:5px 7px 5px 68px;
	background:#938e7e;
}
.toolbar-item .item-list li{
	padding:3px 5px;
}

/* stage-selector */
.stage-selector{
	overflow:hidden;
	width:50px;
	height: 50px;
	position:absolute;
	top:620px;
	transition-property: width;
	transition-duration: .2s;
	transition-timing-function: linear;
	transition-delay: 0;
}
.stage-selector:hover,
.stage-selector-handler{
	width:180px;
}
.stage-selector-handler,
.stage-box{
	float: left;
}
.stage-box{
	
	padding:15px;
	/* for test */
	
	background:rgba(200,200,200,0.7);
}
.stage-item{
	float:left;
	padding:0 10px;
	text-align:center;
}
.stage-item:hover{
	background-color:rgba(230,230,230,0.7);
}
.stage-selector.active,
.stage-selector-inner{
	width:1280px;
	height: auto;
}

.stage-selector-handler em{
	float:left;
	width:50px;
	height:50px;
	background:url(../images/newui_ico_stage_selector.png) center center no-repeat rgba(154,154,154,0.7);
	cursor:pointer;
}

.stage-selector-handler span{
	float:left;
	width:130px;
	height:50px;
	line-height:50px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	background:rgba(200,200,200,0.7)
}

/* sliding panes */
.sliding-panes{
	position:absolute;
	width:70px;
	top:90px;
	right:0;
}
.pane-handler{
	width:35px;
	height:64px;
	border-radius: 10px 0 0 10px;
	margin-bottom:8px;
	float:right;
	cursor:pointer;
	clear:right;
	transition-property: width;
	transition-duration: .1s;
	transition-timing-function: linear;
	transition-delay: 0;
	background-repeat:no-repeat;
	background-position: center center;
}
.studio-handler{
	background-color:rgba(189,21,54,1.0);
}
.chanllenge-handler{
	background-color:rgba(19,119,151,1.0);
}
.competitions-handler{
	background-color:rgba(244,126,64,1.0);
}

.pane-handler.active,
.pane-handler:hover{
	
	width:70px;
}
.pane-handler.active{
	border-radius:0;
}
.pane{
	position:absolute;
	
	border-radius:10px;
	top:90px;
	transition-property: right;
	transition-duration: 1s;
	transition-timing-function: linear;
	transition-delay: 0;
	width:760px;
	right:-760px;
    /* for test */
	height:700px;
	background-repeat: no-repeat;
	background-position: center center;
}
.pane.flash{
	animation:opacity 0.5s infinite;
   -webkit-animation:opacity 0.5s infinite;
}
.pane.show{
	right: 70px;
}
.pane-tab{
	float:left;
	width:64px;
	border-radius: 6px 6px 0 0;
	background-color:#962f44;
	text-indent:-9999em;
	cursor:pointer;
	height:26px;
	line-height: 26px;
}
.pane-tab.studio{
	margin:0 5px 0 35px;
}
.pane-tab.active{
	background-color:#bd1536;
}
.pane-con{
	clear:both;
	border-radius:10px 0 10px 10px;
}
.pane-con.studio{
	width:760px;
	height:706px;
	background:url(../images/example_13.png)
}
.pane-con.gallery{
	width:760px;
	height:706px;
	background:url(../images/example_14.png)
}
.pane-con.gallery{
	display:none;
}
#studio{
	/*background-image: url(../images/example_03.png);
	background-color:rgba(189,21,54,1.0);*/
	text-align:center;
	top:64px;
	
}
#studio.show{
	border-radius: 10px 0 10px 10px;
	
}
#challenge{
	background-image: url(../images/example_04.png);
	background-color:rgba(19,119,151,1.0);
	
}
#competitions{
	background-image: url(../images/example_05.png);
	background-color:rgba(244,126,64,1.0);
    /* test */
    height:720px;
}
/*.pane-handler.active:hover{
	background-image:url(../images/newui_ico_pane_handler_ac.png);
}*/

/* user profile */
.user-profile{
	width:54px;
	height:54px;
	padding:4px;
	top:710px;
	right:4px;
	position:absolute;
	border-radius:30px;
	background:url(../images/newui_bg_profile.png) center center no-repeat;
	cursor: pointer;
}
.user-profile:hover{
	background:url(../images/newui_bg_profile.png) center center no-repeat rgba(105,162,173,0.7);
}

.user-profile-inner-url,
.user-profile-inner{
   border-radius:30px;
   position:absolute;
   top:4px;
   left:4px;
    /* test */
   height:54px;
   width:54px;
}
.user-profile-inner-url img,
.user-profile-inner img{
	max-width:100%;
	border-radius:30px;
}
.user-box{
	position:absolute;
	right:27px;
	bottom:27px;
	background:rgba(105,162,173,0.7);
	width:0;
	height:0;
	overflow:hidden;
	padding:5px;
	color: #fff;
	text-align:center;
	font-size:1.2em;
	transition-property: width height;
	transition-duration: .2s;
	transition-timing-function: linear;
	transition-delay: 0;
}
.user-profile.active .user-box{
	width:100px;
	height:100px;
}
.user-box h4{
	font-weight:bold;
	margin-bottom:.5em;
}
.user-box a{
	color:#fff;
}
.demo-setting-wrapper{
	width:473px;
	height:501px;
	position:absolute;
	background: url(../images/example_15.png) no-repeat;
	display: none;
}
/* content */
.main-content{
	position:absolute;
	top:90px;
	
	
	min-height:562px;
	/*overflow:hidden;*/
	
	width:70%;
}
#set-view-region{
	border-radius:10px;
	background-color:rgba(120,120,120,0.7);
	width:100%;
}
#stage-title h2{
	border:3px solid #989090;
	border-radius:20px;
	line-height:48px;
	text-align:center;
	font-size:24px;
	color:#fff;
	background-color:rgba(235,235,235,0.6);
}
#stage-set-list{
	width:600px;
	margin:0 auto;
}
#stage-set-list li{
	float:left;
	width:133px;
	margin: 0 8px 20px;
	text-align:center;
	height:133px;
	position:relative;
}
#stage-set-list li .set-cover{
	position:absolute;
	width:113px;
	padding:0 10px;
	height:133px;
	top:0;
	background-color:rgba(0,0,0,0.7);
	color:#fff;
	cursor:pointer;
	opacity:0;
	transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: linear;
}
#stage-set-list li:hover .set-cover{
	opacity:1;
}
#stage-set-list li .set-cover h5{
	padding:10px 0 10px;
	height:65px;
}
#stage-set-list li .set-cover p{
	text-align:left;
	padding-left:30px;
	line-height:24px;
	background-position:left top;
	background-repeat:no-repeat;
}
#stage-set-list li .set-cover p.inspiration,
#stage-set-list li .set-cover p.showcase,
#stage-set-list li .set-cover p.video_with_comments,
#stage-set-list li .set-cover p.video,
#stage-set-list li .set-cover p.video_with_qa{
	background-image:url(../images/icon_set_video_24.png);
}
#stage-set-list li .set-cover p.image{
	background-image:url(../images/icon_set_image_24.png);
}
#stage-set-list li .set-cover p.text,
#stage-set-list li .set-cover p.document{
	background-image:url(../images/icon_set_doc_24.png);
}
#stage-set-list li span.set-numbering{
	position:absolute;
	display:block;
	width:22px;
	height:22px;
	border-radius:11px;
	background:#959595;
	line-height:22px;
	text-align:center;
	color:#fff;
	top:-11px;
	left:-11px;
}
#stage-set-list li a.image img{
	width:auto;
	height:auto;
}
#stage-set-list li a.image{
	line-height: 100%;
	display: table-cell;
	height: 133px;
	background-color:rgba(255,255,255,0.7);
	vertical-align: middle;
	width: 133px;
}
#stage-set-list li .crop{
	width:133px;
	height:133px;
	overflow:hidden;
}
#stage-set-list li .crop img{
	display:block;
	width:177px;
	height:133px;
	margin: 0 -22px;
    max-width: none;
}
#stage-set-list li a.mural .crop img{
	width:200px;
}
/* stage title and set title */
.s-s-title{
	position:absolute;
	top:10px;
	left:0;
	padding: 0 15px 0 10px;
	border-radius: 0 10px 10px 0;
	background-color: rgba(180,180,180,0.7);
	border:3px solid #eee;
	border-left:0;
}
.s-s-title h2{
	color:#fff;
	font-size:1.6em;
}
.s-s-title h3{
	color:#eee;
	font-size:1.3em;
}

#image-download-it a{
  display: block;
  background: url(../images/iconDownload.png) no-repeat;
  width: 88px;
  height: 45px;
  position: absolute;
  right: 20px;
}

.set-type-icon {
  display: block;
  height: 51px;
  color: white;
  padding-top: 10px;
  line-height: 16px;
}

.set-video-type-icon {
  background: url(../images/icon_set_video.png) no-repeat;
  background-position: 20px 10px;
  padding-left: 80px;
}

#Text-image-icon{
  background: url(../images/icon_set_image.png) no-repeat;
  background-position: 20px 10px;
  padding-left: 80px;
  line-height: 40px;
}
#Document-video-icon,
#survey-icon{
	background: url(../images/icon_set_doc.png) no-repeat;
	background-position: 20px 10px;
	padding-left: 70px;
	line-height: 40px;
}
#Image-image-icon{
	background: url(../images/icon_set_image.png) no-repeat;
	background-position: 20px 10px;
	padding-left: 70px;
	line-height: 40px;
}

#videocomments-icon{
	background: url(../images/icon_set_video.png) no-repeat;
    background-position: 20px 10px;
    padding-left: 80px;
    line-height: 40px;
}
#videoqa-icon{
	background: url(../images/icon_set_qa.png) no-repeat;
    background-position: 20px 10px;
    padding-left: 80px;
    line-height: 30px;
}
#back-set-list{
	padding:18px 0 18px 50px;
}
.set-text-content {
	background-color: rgba(255,255,255,0.7);
	border-radius: 16px;
}
#edit-submitted-there-images-should-have-been-used-for-thos-module .form-type-checkbox{
	display:inline-block;
	padding-right:2em;
}
#edit-submitted-there-images-should-have-been-used-for-thos-module .option img{
	vertical-align: middle;
}
#edit-actions .form-submit{
	border:1px solid #fff;
	background-color:rgba(189,21,54,0.7);
	color:#fff;
	font-weight:bold;
	padding:5px 8px;
}
/* comment */
.set-comment {
  background-color: rgba(215,152,94, 0.7);
   width: 91%;
   margin:auto;
   padding:1% 2%;
   margin-top:10px;
}
.video-comments .comment-form .form-type-item{
	display:none;
}
.set-comment #comments{
   height:180px;
   overflow-y:auto;
   margin-top:0;
}
.set-comment #comments h2.title{
	padding-left:80px;
	color:#fff;
	font-weight:bold;
	margin-bottom:10px;
}
.set-comment #comments #comments-list span.new{
	display:none;
}
.set-comment #comments #comments-list .user-picture{
	width:50px;
	float:left;
	border:3px solid #fff;
	border-radius:30px;
	box-shadow: 2px 1px 2px rgba(50,50,50,0.5);
}
.set-comment #comments #comments-list .user-picture img{
	border-radius:25px;
	display:block;
}
.set-comment #comments #comments-list .content{
	padding:0 60px;
	position:relative;
	margin-bottom:10px;
}
.set-comment #comments #comments-list .content .rate-widget{
	position:absolute;
	width:30px;
	height:30px;
	top:15px;
	right:15px;
	font-size:12px;
	text-align:center;
	line-height:30px;
	color:#fff;
	background:url(../images/icon_like.png) no-repeat;
}
.set-comment #comments a{
	color:#fff;
}
.set-comment #comments .messages a{
	color:#000;
}
.set-comment #comments .item-list li:after{
	display:inline-block;
}
.set-comment #comments #comments-list .field-name-comment-body{
	padding-left:18px;
	background:url(../images/bg_corner_set_comment.png) 0 15px no-repeat;
}
.set-comment #comments #comments-list .field-items{
	border-radius:5px;
	background-color:rgba(255,255,255,1.0);
	padding:5px 10px;
	min-height:40px;
	box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.17);
}

#back-dashboard{
	background: url("../images/arrowBackToStage.png") no-repeat scroll 20px 50% transparent;
    color: white;
    cursor: pointer;
    display: block;
    float: left;
    min-height: 20px;
    padding: 18px 0 18px 50px;
}
