/******************************************************* Challenge ***************************************/
#d3:after{
  clear:both;
  content:'';
  height:0;
  display:block;
  visibility:hidden;
}
#challenge #block-edgemakers-topic-carousel{
	margin-bottom:40px;
}
#challenge #block-edgemakers-topic-carousel h2,
h2.item-studio{
	display:inline-block;
	font-size:24px;
	padding:0 20px 5px;
	border-bottom: 3px solid #fff;
	color:#fff;
}

/* carousel */
#d3 {
  margin-bottom:1em;
  color: #640199;
  padding:0 10px;
  height:230px;
}
/* arrow */
.d3-left-arrow,
.d3-right-arrow{
  width:48px;
  float:left;
  margin-top:90px;
  cursor:pointer;
  opacity:.3;
  transition: all 0.5s linear;
}
.d3-left-arrow:hover,
.d3-right-arrow:hover{
	opacity:1;
}
.d3-right-arrow{
	float:right;
}

/* item */
.d3-item{
  cursor:pointer;
  position:relative;
  float:left;
  -webkit-perspective: 190px;
  -moz-perspective: 300px;
  -o-perspective: 300px;
  perspective: 300px;
}
.d3-item.reload,
.d3-item.reload a,
.d3-item img.reload,
.d3-item .carousel-des{
	transition: all 0.5s linear;
}
/* for Firefox */
#block-edgemakers-topic-problems h2{
	display:none;
}
.d3-item a{
	-moz-perspective: 190px;
	perspective: 190px;
	display: block;
	height:190px;
}
/* for Firefox end */
.d3-item img{
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	box-shadow: 0px 5px 5px #000;
	margin-top:15px;
}
.d3-item .carousel-des{
	position:absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width:200px;
	height:140px;
	background:rgba(0,0,0,0.5);
	color:#fff;
	left:0;
	top:15px;
	opacity:0;
}
.d3-item.show .carousel-des{
	width:270px;
	height:170px;
	padding:10px;
	top:25px;
	left:0;
	opacity:1;
}
.d3-item  .carousel-des a{
	color:#fff;
	display:inline;
	height:auto;
}
.carousel-des h5{
	font-weight:bold;
	text-align:center;
}
.carousel-des p{
	padding:1px 0;
	word-wrap: break-word;
}
.carousel-viewmore{
	text-align:right;
}
.d3-item.show-left img,
.d3-item.show-left .carousel-des,
.d3-item.show-left-fisrt img,
.d3-item.show-left-fisrt .carousel-des{
  -webkit-transform: rotateY(68deg);
  transform: rotateY(68deg);
}
.d3-item.show-right img,
.d3-item.show-right .carousel-des,
.d3-item.show-add-1 img,
.d3-item.show-add-1 .carousel-des{
  -webkit-transform: rotateY(-68deg);
  transform: rotateY(-68deg);
}
.d3-item.show-left img,
.d3-item.show-right img,
.d3-item.show-left-fisrt img,
.d3-item.show-add-1 img{
	width:200px;
  	height:140px;
}
.d3-item.show img{
	width:290px;
  	height:190px;
  	margin-top:25px;
}
.d3-item.show-left-fisrt{
	margin:40px 0 0 0;
}
.d3-item.show-left,
.d3-item.show-right{
    margin:40px 0 0 -170px;
}
.d3-item.show-add-1{
	margin: 40px 0 0 -114px;
}
.d3-item.show{
	margin:0 0 0 -114px
}
.d3-item.show-is-first{
	margin:0 0 0 50px;
}
.d3-item.show-is-last{
	margin:0 50px 0 -114px;
}


/******************** topic ***********************/
.topic-tab li{
	display:inline-block;
	width:34px;
	height:36px;
	margin-right:1px;
	cursor:pointer;
	opacity:.5;
	transition: all 0.5s linear;
}
.topic-tab li:hover,
.topic-tab li.actived{
	opacity:1;
}
.topic-tab li.topic-problem{
	background:url(../images/challenge_ico_problem.png) no-repeat;
}
.topic-tab li.topic-location{
	background:url(../images/challenge_ico_location.png) no-repeat;
}
.topic-content-box{
	margin-left:5px;
	padding-top:13px;
	width:160px;
	display:none;
}
.topic-content-box a{
	color:#fff;
}
.topic-content-box a:hover{
	text-decoration: none;
}
.topic-content-box.actived{
	display:block;
}
.topic-content-box h2,
.topic-content-box ul,
.topic-content-box p{
	background:#4cc0d9;
	color:#fff;
}
.topic-content-box h2{
	padding:8px 0 5px 15px;
	font-weight:bold;
	border-bottom:3px solid #fbfbfb;
	font-size:14px;
}
.topic-content-box li{
	padding:2px 0 0 15px;
	border-bottom:1px solid #b6b4a8;
}
.topic-content-box li:last-child{
	border-bottom: 0;
}
.topic-content-box li:hover{
	background:#a9a491;
}
.topic-content-box p{
	padding:5px 15px;
}
.content-topic{
	background:url(../images/challenge_ico_arrow_up.png) left top no-repeat;
}
.content-location{
	background:url(../images/challenge_ico_arrow_up.png) 34px top no-repeat;
}
/* fake */
#block-edgemakers-topic-problems{
	background:url(../images/example_16.png) 253px 48px no-repeat;
	height:370px;
}
/* some topic css must be here */
.node-type-edgemakers-topic h1{
	background:url(../images/newui_topic_h1.png) left top no-repeat #3dbec0;
}
.controller .prev{
	background:url(../images/ico_left.png) left top no-repeat;
}
.controller .next{
	background:url(../images/ico_right.png) left top no-repeat;
}
.controller-dots span{
	background:url(../images/newui_ico_topic_media_indicator_normal.png) left top no-repeat;
}
.controller-dots span:hover,
.controller-dots span.actived{
	background:url(../images/newui_ico_topic_media_indicator.png) left top no-repeat;
}
.field-name-field-topic-problem .field-label{
	background:url(../images/newui_ico_topic_info_1.png)  no-repeat;         
}
.field-name-field-topic-suggestion .field-label{
	background:url(../images/newui_ico_topic_info_5.png)  no-repeat;    
}
.field-name-field-topic-org-resources .field-label{
	background:url(../images/newui_ico_topic_info_3.png) right 20px no-repeat #05c8f8;
}
.right-quote{
	position:absolute;
	width:46px;
	height:46px;
	background:url(../images/newui_ico_topic_info_2.png) no-repeat;
	right:-22px;
	top:-22px;
}
.field-name-field-topic-suggestion .su-right{
	width:190px;
	height:172px;
	float:left;
	background:url(../images/newui_ico_topic_info_6.png) no-repeat;
}
.field-name-field-topic-org-resources .su-right{
	width:191px;
	height:205px;
	float:left;
	background:url(../images/newui_ico_topic_info_7.png) no-repeat;
}

/******************************************************* Studio ***************************************/
.pane-studio-box{
	margin:0 10px 10px 15px;
}
#studio-media-list .pane-studio-box{
	margin:0 0 10px 0;
}
#studio-media-list .pane-studio-box .mediathumb img{
	width:156px;
	height:106px;
}
.region-studio-pane h2{
	margin-bottom:10px;
}
.pane-studio-box h4{
	padding-left:50px;
	font-size:20px;
	color:#fff;
}
.pane-studio-box .scroll-wrapper{
	position:relative;
}
.scroll-wrapper .arrow-left,
.scroll-wrapper .arrow-right{
	position:absolute;
	width:35px;
	height:42px;
    top:38px;
    cursor:pointer;
    text-indent:-9999em;
    transition: all 0.3s linear;
    opacity:.6;
}
.scroll-wrapper .arrow-left:hover,
.scroll-wrapper .arrow-right:hover{
	opacity:1;
}
#studio-media-list-pane .scroll-wrapper .arrow-left,
#studio-media-list-pane .scroll-wrapper .arrow-right{
	top:89px;
}
.scroll-wrapper .arrow-left{
	background:url(../images/newui_ico_pane_studio_2.png) no-repeat;
	left:0;
}
.scroll-wrapper .arrow-right{
	background:url(../images/newui_ico_pane_studio_3.png) no-repeat;
	right:0;
}
.scroll-wrapper ul{
	margin-left:40px;
}
#studio-my-idea{
	background:url(../images/newui_ico_pane_studio_1.png) left top no-repeat;
}
#studio-share-with-me{
	background:url(../images/newui_ico_pane_studio_4.png) left top no-repeat;
}
#studio-media-list-pane{
	background:url(../images/newui_ico_pane_studio_5.png) left top no-repeat;
}
#block-edgemakers-media-upload-studio-media-list h2{
	display:none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {  
/* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */  
   #d3{
   	padding:20px 10px;
   }
}


