@CHARSET "UTF-8";

#modal-content div.location-wrapper {
  
    display: none;

}

ul#gallery-video-list li,
ul#studio-media-list li
{
  display: inline;
  position: relative;
}

ul#gallery-video-list li.mediasettingicon,
ul#studio-media-list li.mediasettingicon
{
  display: block;
  width: 160px;
  height: 160px;
}

ul#gallery-video-list li span.mediathumb img,
ul#studio-media-list li span.mediathumb img
{
  width: 160px;
  height: 160px;
}

ul#gallery-video-list li a.studio-media-list-item-link,
ul#studio-media-list li a.studio-media-list-item-link
{
  display: block;
  width: 160px;
  height: 160px;
  position: absolute;
  left: 0;
  top: -146px;
}

ul#gallery-video-list li a.studio-media-settings,
ul#studio-media-list li a.studio-media-settings
{
  position: absolute;
  left: 0px;
  bottom: 0px;
}