@CHARSET "UTF-8";

#modal-content div.location-wrapper {
  display: none;
}

#gallery-panes-mural-list .scroll-wrapper,
#gallery-video-list-pane .scroll-wrapper,
#gallery-image-list-pane .scroll-wrapper
{
  position: relative;
  height: 138px;
  overflow: hidden;
}

#gallery-media-list-pane .scroll-wrapper {
  height: auto;
  position: relative;
}


ul#gallery-image-list li,
ul#gallery-media-list li,
ul#gallery-video-list li,
ul#studio-media-list li
{
  display: inline;
  width:156px;
  height:106px;
  position: relative;
  float: left;
  margin:4px;
}

ul#gallery-image-list li.mediasettingicon,
ul#gallery-media-list li.mediasettingicon,
ul#gallery-video-list li.mediasettingicon,
ul#studio-media-list li.mediasettingicon
{
  display: block;
   width:156px;
  height:106px;
}

ul#gallery-image-list li span.mediathumb img,
ul#gallery-media-list li span.mediathumb img,
ul#gallery-video-list li span.mediathumb img,
ul#studio-media-list li span.mediathumb img
{
  width:156px;
  height:106px;
}

ul#gallery-image-list li a.studio-media-list-item-link,
ul#gallery-media-list li a.studio-media-list-item-link,
ul#gallery-video-list li a.studio-media-list-item-link,
ul#studio-media-list li a.studio-media-list-item-link
{
  display: block;
   width:156px;
  height:106px;
  position: absolute;
  left: 0;
  top: 0;
}

ul#gallery-image-list li a.studio-media-settings,
ul#gallery-media-list li a.studio-media-settings,
ul#gallery-video-list li a.studio-media-settings,
ul#studio-media-list li a.studio-media-settings
{
  position: absolute;
  left: 0px;
  bottom: 0px;
}

html.js .form-item-field-tags-und input.form-autocomplete
{
  background-position: 100% 14px;
}

div.form-item-field-tags-und {
  position: relative;
}

/* #modalContent .messages {
  display: none;
} */

#upload-media-ajax-wrapper .messages {
  width: 75%;
  margin: 0px 2em;
}

#upload-media-ajax-wrapper form#media-for-upload-node-form div.form-item {
  width: 88%;
  
}

#modal-content .form-item input[type="text"].error, 
#modal-content .form-item input[type="password"].error {
  border: 2px solid red;
  color: #8c2e0b;
}

/* Cover style */
#gallery-media-list .set-cover,
#studio-media-list .set-cover
{
  display: block;
  width: 136px;
  height: 86px;
  padding:10px;
  position: absolute;
  left: 0;
  top:0;
  overflow: hidden;
}

#gallery-media-list .set-cover,
#studio-media-list .set-cover
{
  /* display: none; */
  opacity:0;
  background:rgba(0,0,0,0.5);
  transition: all 0.3s linear;
  color:#fff;
}

#gallery-media-list li:hover .set-cover,
#studio-media-list li:hover .set-cover
{
  opacity:1;
}

.empty-data {
  text-align: center;
  line-height: 114px;
}

.empty-data {
  text-align: center;
  line-height: 114px;
}

/*
#gallery-media-list .empty-data {
  line-height: 228px;  
}
*/

/* Nav style*/
.show-nav {
  padding: 10px 20px;
}

.show-nav span {
  cursor: pointer;
  color: white;
  display:inline-block;
  height:30px;
  line-height: 30px;
}

.show-nav span.prev
{
  padding: 0 14px 0 30px;
  background:url(../images/ico_left.png) 10px center no-repeat;
}
.show-nav span.next{
  float:right;
  padding: 0 30px 0 14px;
  background:url(../images/ico_right.png) right center no-repeat;
}

.show-nav span.back-to-dashboard,
.show-nav span#back-set-list {
  position: absolute;
  top: 0px;
  right: 0px;
  background: url(../images/ico_upload_close_normal.png) no-repeat;
  width: 30px;
  height: 30px;
  background-position: center;
}

.show-nav span.back-to-dashboard:hover, 
.show-nav span#back-set-list:hover {
  background: url(../images/ico_upload_close.png) no-repeat;
  background-position: center;
}
/*for ctools media upload popup*/
#modalContent div.ctools-sample-modal-content {
	background:none;
	border:0;
	color:#000000;
	margin:0;
	padding:0;
	text-align:left;
}
div.ctools-sample-modal-content .modal-scroll{
	overflow:hidden;
	overflow-y:auto;
}
div.ctools-sample-modal-content #popups-overlay {
  background-color:transparent;
}
div.ctools-sample-modal-content #popups-loading {
  width:248px;
  position:absolute;
  display:none;
  opacity:1;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  z-index:99;
}
div.ctools-sample-modal-content #popups-loading span.popups-loading-message {
  background:#FFF url(../images/loading-large.gif) no-repeat 8px center;
  display:block;
  color:#444444;
  font-family:Arial;
  font-size:22px;
  font-weight:bold;
  height:36px;
  line-height:36px;
  padding:0 40px;
}
div.ctools-sample-modal-content #popups-loading table,
div.ctools-sample-modal-content .popups-box table {
	margin:0px;
}
div.ctools-sample-modal-content #popups-loading tbody,
div.ctools-sample-modal-content .popups-box tbody {
	border:none;
}
div.ctools-sample-modal-content .popups-box tr {
	background-color:transparent;
}
div.ctools-sample-modal-content td.popups-border {
  /* background: url(../images/popups-border.png); */
  background-color:transparent;
  border: none;
}
div.ctools-sample-modal-content td.popups-tl,
div.ctools-sample-modal-content td.popups-tr,
div.ctools-sample-modal-content td.popups-bl,
div.ctools-sample-modal-content td.popups-br {
  background-repeat: no-repeat;
  height:10px;
  padding:0px;
}
div.ctools-sample-modal-content td.popups-tl { background-position: 0px 0px; }
div.ctools-sample-modal-content td.popups-t,
div.ctools-sample-modal-content td.popups-b {
  background-position: 0px -40px;
  background-repeat: repeat-x;
}
div.ctools-sample-modal-content td.popups-tr { background-position: 0px -10px; width: 10px; }
div.ctools-sample-modal-content td.popups-cl,
div.ctools-sample-modal-content td.popups-cr {
  background-position: -10px 0;
  background-repeat: repeat-y;
  width:10px;
}
div.ctools-sample-modal-content td.popups-cl,
div.ctools-sample-modal-content td.popups-cr,
div.ctools-sample-modal-content td.popups-c { padding:0; border: none; }
div.ctools-sample-modal-content td.popups-c { }
div.ctools-sample-modal-content td.popups-bl { background-position: 0px -20px; }
div.ctools-sample-modal-content td.popups-br { background-position: 0px -30px; width: 10px; }

div.ctools-sample-modal-content .popups-box,
div.ctools-sample-modal-content #popups-loading {
  border: 0px solid #454545;
  opacity:1;
  overflow:hidden;
  padding:0;
  background-color:transparent;
}
div.ctools-sample-modal-content .popups-container {
  overflow:hidden;
  height:100%;
 
}
div.ctools-sample-modal-content div.popups-title {
  background: transparent;
  padding: 0;
}

div.ctools-sample-modal-content div.popups-title .modal-title{
	display:inline-block;
	padding:10px 15px;
	font-size:17px;
	font-style:italic;
  font-weight:normal;
	background:#60cd9b;
	color:#fff;
}
div.ctools-sample-modal-content div.popups-title .popups-close{
  display:none;
}
div.ctools-sample-modal-content .popups-body {
  background-color:#fff;
  padding:8px;
}
div.ctools-sample-modal-content .popups-box .popups-buttons,
div.ctools-sample-modal-content .popups-box .popups-footer {
  background-color:#fff;
}
div.ctools-sample-modal-content .popups-title a.close {
  color: #fff;
  text-decoration:none;
}
div.ctools-sample-modal-content .popups-close {
	font-size:120%;
	float:right;
	text-align:right;
}
div.ctools-sample-modal-content .modal-loading-wrapper {
	width:220px;
	height:19px;
	margin:0 auto;
	margin-top:2%;
}

div.ctools-sample-modal-content tbody{
	border:none;
}

div.ctools-sample-modal-content .modal-content .modal-throbber-wrapper img {
  margin-top: 100px;
}

/* added by guotao */
div.ctools-sample-modal-content .modal-scroll{
	background:#fff;
	position:relative;
}
.media-upload-close{
	position:absolute;
	top:10px;
	right:20px;
	width:21px;
	height:21px;
	background:url(../images/ico_upload_close.png) no-repeat;
	z-index:1;
	cursor:pointer;
}
.media-upload-close a{
	display:block;
	width:21px;
	height:21px;
	
}
.media-upload-close:hover{
	background:url(../images/ico_upload_close_normal.png) no-repeat;
}

#media-for-upload-node-form label{
	display:none;
}
#media-for-upload-node-form .field-name-field-share-to-gallery label{
	display:block;
}
#media-for-upload-node-form label span.form-required{
	display:none;
}
#upload-media-ajax-wrapper{
	padding-top:10px;
	width:95%;
	margin:0 auto;
}

#media-for-upload-node-form .form-item-field-share-und label,
#media-for-upload-node-form .form-item-field-share-und input {
  display: inline;
}