@CHARSET "UTF-8";

#modal-content div.location-wrapper {
  
    display: none;

}

ul#studio-media-list li {
  width:156px;
  height:106px;
  position: relative;
  float: left;
  margin:4px;
}

ul#studio-media-list li.mediasettingicon {
  display: block;
   width:156px;
  height:106px;
}

ul#studio-media-list li span.mediathumb img {
   width:156px;
  height:106px;
}

ul#studio-media-list li a.studio-media-list-item-link {
  display: block;
   width:156px;
  height:106px;
  position: absolute;
  left: 0;
  top: 0;
}

ul#studio-media-list li a.studio-media-settings{
  position: absolute;
  left: 0px;
  bottom: 0px;
}