@charset "utf-8";

/************************************* mockup *****************************************/
.menu-learn li a{
	border-bottom:1px dashed #ccc;
	background:url(../images/mock_arrow_green.png) 0.5em center no-repeat;
	display:block;
	padding: .2em 0  0.2em 1.5em;
	color:#000;
	text-decoration:none;
	margin-bottom:0.2em;
}
.menu-learn li.active a{
	background:url(../images/mock_arrow_green_active.png) 0.5em center no-repeat;
}
.menu-learn li li a,
.menu-learn li.active li a{
	width:30%;
	border:1px solid #222;
	background: url(../images/mock_arrow_green.png) 0.5em center no-repeat #d3fdbb;
}
.menu-learn li ul{
	display:none;
}
.menu-learn li.active ul{
	display:block;
}
.menu-learn li li a:hover,
.menu-learn li li a.active{
	border-right:0;
	background:#fff;
	width:31%;
}
.menu-learn li li a.has-link{
	color:red;
}
.menu-learn-fly-layer{
	padding:20px;
	height:158px;
	border:1px solid #222;
	border-left:0;
	background:url(../images/mock_fly_bg.png) left -1px no-repeat #fff;
	position: absolute;
	display: none;
}
.mock-nav{
	width:960px;
	height:42px;
	margin:0 auto;
	background:#b7007f;
}
.mock-nav span{
	display:inline-block;
	height:100%;
	float:left;
	color:#fff;
	line-height:1.5em;
}
.mock-nav span a{
	color:#fff;
}
.mock-menu-logo{
	width:42px;
	background: url(../images/mock_logo.png) no-repeat;
}
.mock-menu-learn,
.mock-menu-workspace,
.mock-menu-challenges,
.mock-menu-log,
.mock-menu-gallery,
.mock-menu-competitions{
	font-size:24px;
	text-align:center;
	padding:0 0.5em;
}
.mock-menu-learn{
	background:#02c500;
}
.mock-menu-workspace{
	background:#670099;
}
.mock-menu-challenges{
	background:#cc0001;
}
.mock-menu-gallery{
	background:#0666f6;
}
.mock-menu-competitions{
	background:#c6ba00;
}
.mock-nav span.mock-menu-userinfo{
	float:right;
}

.mock-nav span.mock-portrait-span{
	float:right;
}
.mock-portrait{
	
	margin-left:.2em;
}
ul{
	list-style: none;
}

ul.level-first-has-child,
ul.level-first-has-not-child {
	padding-left:0;
}
ul.level-first-has-child ul{
	padding-left:1.5em;
	display:none;
}
.level-first-has-not-child > li > a{
	display:block;
	padding:0.2em 0 0.2em 1.5em;
	border-bottom:1px dashed #ccc;
	margin-bottom:.5em;
	/*background: url("../images/mock_arrow_green_active.png") no-repeat scroll 0.5em center transparent;*/
}
.level-first-has-child > li > a{
	background: url("../images/mock_arrow_green.png") no-repeat scroll 0.5em center transparent;
	display:block;
	padding:0.2em 0 0.2em 1.5em;
	border-bottom:1px dashed #ccc;
	margin-bottom:.5em;
}
.level-first-has-child > li > a.active{
	background: url("../images/mock_arrow_green_active.png") no-repeat scroll 0.5em center transparent;
}
.level-second-has-child > li > a{
	display:block;
	background: url("../images/mock_arrow_green.png") no-repeat scroll 0.5em center #D3FDBB;
    border: 1px solid #222222;
    padding:0.2em 0 0.2em 1.5em;
    margin:.5em 0;
}
.level-second-has-child > li > a.active{
	background: url("../images/mock_arrow_green_active.png") no-repeat scroll 0.5em center #D3FDBB;
}
.level-second-has-child li li{
	line-height:26px;
}
.level-second-has-child li li img{
	position:relative;
	top:8px;
	margin-right:.7em;
}
.level-first-has-child.image-content > li > ul > li{
	float:left;
	margin:0.2em;
}
.level-first-has-child.image-content > li > ul:after{
	content:'';
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
/*** learn *****/
.stage_content{
  background:#d2ffbc;
}
.stage_breadcrumb.active{
  background:url(../images/mock_arrow_green_active.png) 5px center no-repeat;
}
.stage_breadcrumb{
   padding:.2em 0 0.2em 18px;
   border-bottom:1px dashed #ccc;
   background:url(../images/mock_arrow_green.png) 5px center no-repeat;
   cursor:pointer;
}
.learn-main-content{
  padding:1em;
}
.stage_bottom_content,
.stage_comments{
  border:1px solid #555553;
  margin-bottom:5px;
  box-shadow: 1px 0 3px #333;
}
.stage_bottom_content_tab{
  border-bottom: 1px solid green;
}
em.stage_bottom_switcher{
  display:inline-block;
  width:18px;
  height:18px;
  background:url(../images/mock_arrow_green.png) center center no-repeat;
  position:relative;
  top:5px;
  cursor:pointer;
}
em.stage_bottom_switcher.active{
	 background:url(../images/mock_arrow_green_active.png) center center no-repeat;
}
.stage_bottom_content_tab span{
  display:inline-block;
  padding:.2em 0;
  margin-right:.5em;
  border-bottom: 4px solid #d1feb9;
  cursor:pointer;
  text-transform:uppercase;
}
.stage_comments .stage_bottom_content_tab span{
  border-bottom:0;
  cursor:default;
}
.stage_bottom_content_tab span.active{
  border-bottom:4px solid green;
}
.stage_comments .stage_bottom_content_tab span.active{
  border-bottom:0;
}
.stage_bottom_content_inner{
  padding:1em;
}
.region-content .stage_bottom_content_inner ul{
  padding:0;
}
/* dashboard */
.dashboard-container:after,
.studiocontent:after{
  content:'';
  display:block;
  height:0;
  visibility:hidden;
  clear:both;
}
.dashboard-container{
  background:#eee;
  padding:0 10px;
}
.dashboard-r{
  width:330px;
  float:right;
}
.dashboard-l{
  width:330px;
  float:left;
}
.dashboard-container .title{
  font-size:1.6em;
  font-family:Arial;
  font-weight:bold;
  margin-top:.5em;
}
.dashboard-container .points,
.dashboard-container .total_time{
  width:40%;
  margin-right:3%;
  display:inline-block;
  text-align:center;
}
.dashboard-container .points .title,
.dashboard-container .total_time .title{
  font-size:1.4em;
  
}
.dashboard-container .points .points-inner,
.dashboard-container .total_time .total_time-inner{
  background:#d58001;
  color: #fffa00;
  font-size:1.4em;
  padding:.2em 0;
}
.dashboard-container tr,
.dashboard-container tr.even{
  background:#fff;
}
.dashboard-container table{
  border: 3px solid #b7b7b7;
}
.dashboard-container tr td{
  padding:4px;
}
.dashboard-container tr td img{
 vertical-align:bottom;
}
.sortby .title{
  font-size:1.2em;
}
.region-content .sortitem ul{
  padding:0;
  margin:0;
}
.region-content .sortitem li{
  display:inline-block;
  padding:.2em 0.5em;
  border-radius: 5px;
}
.region-content .sortitem li.active,
.region-content .sortitem li:hover{
  background:#fff;
}
.facewall{
  background:#9a9a9a;
  color:#fff;
  margin:.5em auto;
  
}
.facewall .faceitem{
  display:inline-block;
  width:21%;
  margin:1%;
  background: #292929;
  padding:2px;
  
  font-size:60%;
  text-align:center;
}
.facewall .faceitem img{
  width:66px;
  height:80px;
}

/* challenges */
  .mapsection:after,
  .showcase_videos:after,
  .studio-columeleft .tour-guide ul:after,
  .studio-columeiddle ul ul:after{
    content: '';
	height:0;
	clear:both;
	display:block;
	visibility:hidden;
  }
  .topic-selector{
    float:left;
	width:178px;
	border:1px solid #000;
	background:#f6b26b;
  }
  .chall-h4{
    font-size:1.2em;
	font-weight:bold;
	background:#f90;
	border-bottom:2px solid #000;
	margin:0;
	padding:.5em;
  }
  .topic-ol{
  	margin: 0 5px;
	background:#fff;
  }
  .region-content .topic-selector ol{
    padding:0;
	margin-left:2.2em;
  }
   .region-content .topic-selector ol ol{
    margin-left:1em;
   }
   .showcase_videos{
     background:#0ff;
	 padding: 10px;
	 margin-top:1em;
   }
   .showcase_videos h5{
     float:left;
	 font-size:1.2em;
	 font-weight:bold;
	
   }
   .region-content .showcase_videos ul{
     float:right;
	 margin:0;
   }
   .region-content .showcase_videos li img{
     margin-left:10px;
   }
   .project_directory-title{
     background: #e69138;
	 padding:10px;
	 margin-bottom:15px;
   }
   .project_directory .project_tabs{
     padding-left:15px;
	 border-bottom:1px solid #000;
   }
   .project_directory .project_tabs span{
     display:inline-block;
	 border:1px solid #000;
	 margin-left:-1px;
	 position:relative;
	 top:1px;
	 padding:5px 10px;
	 background:#ddd;
	 cursor:pointer;
   }
   .project_directory .project_tabs span.active{
     background:#f9cc9e;
	 border-bottom:1px solid #f9cc9e;
   }
   .project_directory .content{
     margin-top:0;
	 background:#f9cc9e;
	 padding:10px;
   }
   .project-directory-content{
     margin:0 10px;
	 background:#fff;
	 padding:10px;
	 width:410px;
   }
   .project-directroy-img{
     width:160px;
	 height:100px;
   }
   .image_slid li{
     float:left;
	 margin-right:10px;
   }
   /*.image_slid li img{
   
   -webkit-transform:   skew(0deg,-30deg);
   
   
   transform:   skew(0deg,-30deg);
   }*/
   
   /* studio */
   h1.studio-title{
     color:#fff;
	 font-size:1.6em;
	 font-weight:bold;
	 background:#e06666;
	 padding:1em;
	 border:1px solid #000;
	 margin-bottom.5em;
	 text-align:center;
   }
   .studio-search{
     text-align:right;
	 margin-bottom:1em;
   }
   .studio-search input{
     border:1px solid #000;
	 border-radius:10px;
   }
   
  #main #content .section{
     padding:0;
   }
   .studio-columeleft{
   	width:18%;
	margin-right:3%;
	float:left;
	padding:1%;
	border:1px solid #000;
   }
   .studio-columeiddle{
     width:54%;
	
	 float:left;
   }
   .studio-columeright{
     width:18%;
	 float:right;
	 padding:0 1%;
	 border:1px solid #000;
   }
   .studio-columeleft,
   .studio-columeright{
     background:#f9cb9c;
   }
   .region-content .studiocontent ul{
     padding:0;
   }
   .studio-side{
     border:1px solid #000;
	 margin-bottom:1em;
   }
   .studio-side h4{
     font-size:1.4em;
	 font-weight:bold;
	 background:#ff0;
	 padding-left:1.2em;
	 background:url(../images/mock_arrow_green.png) .4em center no-repeat #ff0;
	 margin:0;
	 cursor:pointer;
   }
   .studio-side-inner h5{
   	font-size:1em; 
	 font-weight:bold;
	 background:#ff0;
	 padding:.5em 0 0.5em 1em;
	 background:url(../images/mock_arrow_green.png) 0.4em center no-repeat #f90;
	 margin:.5em auto 0;
	 cursor:pointer;
   }
   .studio-side h4.active{
     background:url(../images/mock_arrow_green_active.png) 0.2em center no-repeat #ff0;
   }
   .studio-side-inner h5.active{
     background:url(../images/mock_arrow_green_active.png) 0.2em center no-repeat #f90;
   }
   .studio-side-inner{
     margin:.5em;
	 background:#f6b26b;
   }
   .studio-side-inner li{
     background:#fff;
	 margin-bottom:.5em;
	 text-align:center;
   }
   .studio-side-inner ul.half-width li{
   		width:46%;
		float:left;
		margin-right:2%;
   }
   .studio-side-inner ul.half-width li img{
     height:80px;
	 
   }
   .studio-side-inner li img{
     width:100%;
   }
   .studio-columeleft .upload{
     padding:0.3em;
	 background:#e69138;
	 text-align:center;
	 font-size:1.4em;
	 margin-bottom:1em;
   }
   .studio-columeleft .upload img{
     position:relative;
	 top:5px;
	 margin-right:10px;
   }
  .studio-columeleft .tour-guide{
  	background:#ddd;
	border:1px solid #000;
  }
  .studio-columeleft .tour-guide h6{
    padding:.2em 0.5em;
	border-bottom:1px solid #000;
	font-size:1.4em;
	margin: 0 0 0.5em 0;
  }
  .studio-columeleft .tour-guide ul{
    padding:1em;
  }
  .studio-columeleft .tour-guide li{
    text-align:center;
	width:48%;
	float:left;
  }
  .studio-columeiddle>ul>li.title{
     font-weight:bold;
	 font-size:1.6em;
	 color:#666;
  }
  .studio-columeiddle>ul>li>span{
    display:block;
	font-size:.7em;
	text-align:right;
	margin-bottom:15px;
  }
  .studio-columeiddle>ul>li li{
    float:left;
	width:33%;
	text-align:center;
	height:120px;
	margin-top:20px;
  }
  .region-content .studio-columeiddle>ul ul{
    margin:0;
  }
  .studio-setting{
    position: absolute;
	display:inline-block;
	background:green;
	text-align:center;
	height:30px;
	width:100px;
	line-height:30px;
	color:#fff;
	cursor:pointer;
	display:none;
  }
  .studio-popup{
    position:absolute;
	width:300px;
	height:320px;
	background:#eee;
	display:none;
	z-index:9;
  }
  .studio-popup .studio-close{
    display:inline-block;
	padding:.5em;
	color:red;
	cursor:pointer;
  }
  .studio-popup table{
    margin:0;
  }
  .studio-popup td{
  	border:0;
  }
  .studio-popup tr td:first-child{
    text-align:right;
  }
  .studio-cover{
    display:none;
	position:absolute;
	z-index:8;
	background:#eee;
	left:0;
	top:0;
	opacity:.5;
  }