@charset "utf-8";
body.html{
  font-family:Tahoma;
}
#header, #footer-wrapper, #skip-link, ul.contextual-links, ul.links, ul.primary, .item-list .pager, div.field-type-taxonomy-term-reference, div.messages, div.meta, p.comment-time, table, .breadcrumb{
  font-family:Tahoma;
}
/************************************* mockup *****************************************/
.toolbar-wrapper a{
	color: #000;
}
.toolbar-wrapper a:hover{
	color:#000;
}
.menu-learn li a{
	border-bottom:1px dashed #ccc;
	background:url(../images/mock_arrow_green.png) 0.5em center no-repeat;
	display:block;
	padding: .2em 0  0.2em 1.5em;
	color:#000;
	text-decoration:none;
	margin-bottom:0.2em;
}
.menu-learn li.active a{
	background:url(../images/mock_arrow_green_active.png) 0.5em center no-repeat;
}
.menu-learn li li a,
.menu-learn li.active li a{
	width:30%;
	border:1px solid #222;
	background: url(../images/mock_arrow_green.png) 0.5em center no-repeat #d3fdbb;
}
.menu-learn li ul{
	display:none;
}
.menu-learn li.active ul{
	display:block;
}
.menu-learn li li a:hover,
.menu-learn li li a.active{
	border-right:0;
	background:#fff;
	width:31%;
}
.menu-learn li li a.has-link{
	color:red;
}
.menu-learn-fly-layer{
	padding:20px;
	height:158px;
	border:1px solid #222;
	border-left:0;
	background:url(../images/mock_fly_bg.png) left -1px no-repeat #fff;
	position: absolute;
	display: none;
}
.mock-nav{
	width:1024px;
	margin:0 auto;
	
}
.mock-nav span{
	display:inline-block;
	height:100%;
	float:left;
	color:#fff;
	line-height:42px;
}
.mock-nav span.mock-menu-log{
  float:right
}
.mock-nav span a{
	color:#fff;
}

.mock-menu-learn,
.mock-menu-workspace,
.mock-menu-challenges,
.mock-menu-log,
.mock-menu-gallery,
.mock-menu-competitions{
	font-size:18px;
	text-align:center;
	padding:0 15px;
}
.mock-menu-learn{
	background:#02c500;
}
.mock-menu-workspace{
	background:#c03030;
}
.mock-menu-challenges{
	background:#640199;
}
.mock-menu-gallery{
	background:#ff3300;
}
.mock-menu-competitions{
	background:#009db8;
}
.mock-nav span.mock-menu-userinfo{
	padding-right:1em;
	font-weight:bold;
	line-height:1.4em;
	font-size:85%;
	
	text-align:right;
}

.mock-nav span.mock-portrait-span{
	float:right;
}
.mock-portrait{
	
	margin-left:.2em;
}
ul{
	list-style: none;
}
.mock-portrait-span img{
  display:block;
}

ul.level-first-has-child,
ul.level-first-has-not-child {
	padding-left:0;
	margin-top:0;
	margin-bottom:0;
}
ul.level-first-has-child ul{
	padding-left:18px;
	padding-right:2px;
	padding-top:2px;
	display:none;
}
ul.level-first-has-child ul.level-second-has-child{
	padding-left:2px;
	
}
ul.level-first-has-child ul>li{
	margin-top:-1px;
}
.level-first-has-not-child > li > a{
	display:block;
	padding:0 0 0 1.5em;
	border-bottom:1px dashed #ccc;
	margin-bottom:0;
	/*background: url("../images/mock_arrow_green_active.png") no-repeat scroll 0.5em center transparent;*/
}
.level-first-has-child > li > a{
	background: url("../images/mock_arrow_green.png") no-repeat scroll 0.5em center transparent;
	display:block;
	padding:0 0 0 1.5em;
	border-bottom:1px dashed #ccc;
	margin-bottom:0;
}
.page-node-15 .level-first-has-child > li > a{
	background: url("../images/mock_arrow_red.png") no-repeat scroll 0.5em center transparent;
}
.page-home .level-first-has-child > li > a{
	background: url("../images/ico_da_blue.png") no-repeat scroll 0.5em center transparent;
}
.level-first-has-child > li > a.active{
	background: url("../images/mock_arrow_green_active.png") no-repeat scroll 0.5em center transparent;
}

.page-node-15 .level-first-has-child > li > a.active{
	background: url("../images/mock_arrow_red_active.png") no-repeat scroll 0.5em center transparent;
}

.page-home .level-first-has-child > li > a.active{
	background: url("../images/ico_da_blue_active.png") no-repeat scroll 0.5em center transparent;
}
.level-second-has-child > li > a{
	display:block;
	background: url("../images/mock_arrow_green.png") no-repeat scroll 0.5em center #D3FDBB;
    border: 1px solid #222222;
    padding:0 0 0 1.5em;
    margin: 0;
}
.page-node-15 .level-second-has-child > li > a{
	border:1px solid #c03030;
}
.page-node-15 .level-second-has-child > li > a{
	background: url("../images/mock_arrow_red.png") no-repeat scroll 0.5em center #fed0d0;
}
.front .level-second-has-child > li > a{
	
	background: url("../images/ico_da_blue.png") no-repeat scroll 0.5em center #bddbff;
   
}
.level-second-has-child > li > a.active{
	background: url("../images/mock_arrow_green_active.png") no-repeat scroll 0.5em center #D3FDBB;
}
.front .level-second-has-child > li > a.active{
	background: url("../images/ico_da_blue_active.png") no-repeat scroll 0.5em center #bddbff;
}
.page-node-15 .level-second-has-child > li > a.active{
	background: url("../images/mock_arrow_red_active.png") no-repeat scroll 0.5em center #fed0d0;
}
.level-second-has-child li li{
	line-height:26px;
}
.level-second-has-child li li img{
	position:relative;
	top:4px;
	margin-right:.2em;
	width:16px;
}
.level-first-has-child.image-content > li > ul > li{
	float:left;
	margin:0.2em;
}
.level-first-has-child.image-content > li > ul:after,
.da-drag-area:after,
.da-content .img-list:after,
.mock-nav:after,
.nav-top:after,
.nav-bottom:after,
.image_slid:after,
.cha-slider-middle-inner:after,
#d3:after{
	content:'';
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
/*** learn *****/
#main .learn-main-content h2{
  margin-top:0;
}
.learn-select,
.learn-textarea{
   border:1px solid #000;
}
.learn-form-img{
  width:90px;
  height:90px;
  vertical-align:middle;
  margin-right:20px;
}
.learn-textarea{
  width:100%;
  height:60px;
 
}
.page-learn-stage #main{
  background:#eee;
  padding:4px;
  margin-top:0;
  font-family:sans-serif;
}
body.page-node-15 #main{
	background:#c03030;
}
body #main{
   background:#eee;
   font-family:sans-serif;
   margin-top:0;
   width:1024px;
   padding-top:1.6em;
}
body.page-node-41 #main,
body.page-node-104 #main{
	padding-top:0;
}
.studio-columeiddle{
	font-size:85%;
	padding-bottom:2em;
}
.page-learn-stage .tabs{
  margin-bottom:0;
}
.content{
	margin-top:0;
}
.one-sidebar.page-learn-stage #content,
.one-sidebar.page-learn #content{
  border:1px solid #ddd;
  background:#fff;
  padding:4px;
  width:840px;
}
.region-content ul.menu-learn{
  margin:0;
  padding:0;
}
.region-content ul.menu-learn ul{
  padding:0 0 0.25em 1.5em;
}
.page-learn-stage #main .content,
.page-learn #main .content{
  margin-top:0;
}
.page-learn .tabs{
  margin-bottom:0;
}
.region-sidebar-first{
  border:1px solid #666;
  background:#fff;
}
.page-node-15 .region-sidebar-first{
	border:1px solid #fed0d0;
}
.page-home .region-sidebar-first{
	border:1px solid #83bdfd;
}
body .sidebar .section{
  padding:0 5px;
}

.page-learn-stage #main #content .section{
  border:1px solid #444;
  background:#f0f0f0;
  padding:0 4px 4px;
}
.stage_container{
  background:#d2ffbc;
  border:1px solid #444;
}
.stage_bottom_area{
  margin-left:4px;
  margin-right:4px;
  background:#fff;
  margin-bottom:4px;
}
.fte_down_half_area{
  margin-top:.5em;
}
.stage_content{
  background:#d2ffbc;
}
.stage_breadcrumb.active{
  background:url(../images/mock_arrow_green_active.png) 5px center no-repeat;
}
.stage_breadcrumb{
   padding:.2em 0 0.2em 18px;
   border-bottom:1px dashed #ccc;
   background:url(../images/mock_arrow_green.png) 5px center no-repeat;
   cursor:pointer;
}
.learn-main-content{
 
  
  
}
.ytapiplayer{
	padding:10px 0.5em;
	height:330px;
	overflow:auto;
}
.ytapiplayer object{

}
.stage_bottom_content,
.stage_comments{
  border:1px solid #555553;
  margin-bottom:5px;
  box-shadow: 1px 0 3px #333;
}
.stage_bottom_content_tab{
  border-bottom: 1px solid green;
}
.learn-nav{
  cursor:pointer;
}
.learn-nav em,
em.stage_bottom_switcher{
  display:inline-block;
  width:18px;
  height:18px;
  background:url(../images/mock_arrow_green.png) center center no-repeat;
  position:relative;
  top:5px;
  cursor:pointer;
}
.learn-nav em.active,
em.stage_bottom_switcher.active{
	 background:url(../images/mock_arrow_green_active.png) center center no-repeat;
}
.stage_bottom_content_tab span{
  display:inline-block;
  padding:.2em 0;
  margin-right:.5em;
  border-bottom: 4px solid #d1feb9;
  cursor:pointer;
  text-transform: capitalize;
}
.stage_comments .stage_bottom_content_tab span{
  border-bottom:0;
  cursor:default;
}
.stage_bottom_content_tab span.active{
  border-bottom:4px solid green;
}
.stage_comments .stage_bottom_content_tab span.active{
  border-bottom:0;
}
.stage_bottom_content_inner{
  padding:.6em 1em;
  height:80px;
  overflow-y:auto;
}
.region-content .stage_bottom_content_inner ul{
  padding:0;
}
/* dashboard */
.dashboard-container:after,
.studiocontent:after,
.mock-nav-item:after{
  content:'';
  display:block;
  height:0;
  visibility:hidden;
  clear:both;
}
.da-drag-area{
	font-size:85%;
}
.dashboard-container{
  background:#eee;
  padding:0 10px;
}
.dashboard-r{
  width:330px;
  float:right;
}
.dashboard-l{
  width:330px;
  float:left;
}
.dashboard-container .title{
  font-size:1.6em;
  font-family:Arial;
  font-weight:bold;
  margin-top:.5em;
}
.dashboard-container .points,
.dashboard-container .total_time{
  width:40%;
  margin-right:3%;
  display:inline-block;
  text-align:center;
}
.dashboard-container .points .title,
.dashboard-container .total_time .title{
  font-size:1.4em;
  
}
.dashboard-container .points .points-inner,
.dashboard-container .total_time .total_time-inner{
  background:#d58001;
  color: #fffa00;
  font-size:1.4em;
  padding:.2em 0;
}
.dashboard-container tr,
.dashboard-container tr.even{
  background:#fff;
}
.dashboard-container table{
  border: 3px solid #b7b7b7;
}
.dashboard-container tr td{
  padding:4px;
}
.dashboard-container tr td img{
 vertical-align:bottom;
}
.sortby .title{
  font-size:1.2em;
}
.region-content .sortitem ul{
  padding:0;
  margin:0;
}
.region-content .sortitem li{
  display:inline-block;
  padding:.2em 0.5em;
  border-radius: 5px;
}
.region-content .sortitem li.active,
.region-content .sortitem li:hover{
  background:#fff;
}
.facewall{
  background:#9a9a9a;
  color:#fff;
  margin:.5em auto;
  
}
.facewall .faceitem{
  display:inline-block;
  width:21%;
  margin:1%;
  background: #292929;
  padding:2px;
  
  font-size:60%;
  text-align:center;
}
.facewall .faceitem img{
  width:66px;
  height:80px;
}

/* challenges */
  .mapsection:after,
  .showcase_videos:after,
  .studio-columeleft .tour-guide ul:after{
    content: '';
	height:0;
	clear:both;
	display:block;
	visibility:hidden;
  }
  .mapsection{
    border:1px solid #c065f0;
	background:#fff;
  }
  .cha-map-area{
    float:right;
	border-left:1px solid #c065f0;
	width:833px;
	
  }
  
.region-content .topic-selector ul,
.region-content .cha-slider-middle ul{
	margin:0;
	padding:0;
}
.page-challenges h3{
	display:inline-block;
	margin:0;
	color:#c065f1;
	padding: 0.5em 2em;
	border:1px solid #c065f1;
	border-bottom:0;
}
  .topic-selector{
    float:left;
	width:180px;
	background:#ebc3ff;
  }
  .cha-slider{
    height:202px;
	overflow:hidden;
	margin-top:1em;
  }
  .cha-slider-left{
    width:48px;
	height:94px;
	background:url(../images/ico_da_slider_left.png) no-repeat;
	float:left;
	margin-top:54px;
	margin-right:5px;
	cursor:pointer;
  }
  .cha-slider-right{
    width:48px;
	height:94px;
	background:url(../images/ico_da_slider_right.png) no-repeat;
	float:right;
	margin-top:54px;
	cursor:pointer;
  }
  .cha-slider-middle{
    width:910px;
	float:left;
	
	overflow:hidden;
  }
  .project_tags{
    width:26.5%;
	padding:0 8px;
	float:right;
	background:#fff;
	border:1px solid #c065f1;
  }
  .cha-slider-middle li{
    float:left;
	border:1px solid #c065f1;
	margin:0 1px;
  }
   .cha-slider-middle li img{
     width:299px;
	 display:block;
   }
  .topic-selector>ul>li{
    padding:.5em 0 0.5em 1.5em;
	border-bottom:1px solid #c065f0;
	border-right:1px solid #c065f0;
	position:relative;
	left:1px;
	cursor: pointer;
	background:url(../images/mock_arrow_purple.png) 0.3em 10px no-repeat;
	font-size:85%;
  }
  .topic-selector>ul>li ul{
    display:none;
  }
  .topic-selector>ul>li.active{
    background:url(../images/mock_arrow_purple_active.png) 0.3em 13px no-repeat #fff;
	border-right:1px solid #fff;
  }
  .topic-selector>ul>li.active ul{
  	display:block;
  }
  .chall-h4{
    font-size:1.2em;
	font-weight:bold;
	background:#f90;
	border-bottom:2px solid #000;
	margin:0;
	padding:.5em;
  }
  .topic-ol{
  	margin: 0 5px;
	background:#fff;
  }
  .region-content .topic-selector ol{
    padding:0;
	margin-left:2.2em;
  }
   .region-content .topic-selector ol ol{
    margin-left:1em;
   }
   .showcase_videos{
     background:#0ff;
	 padding: 10px;
	 margin-top:1em;
   }
   h1#page-title,
   .tabs{
   	display:none;
   }
   .showcase_videos h5{
     float:left;
	 font-size:1.2em;
	 font-weight:bold;
	
   }
   .region-content .showcase_videos ul{
     float:right;
	 margin:0;
   }
   .region-content .showcase_videos li img{
     margin-left:10px;
   }
   .project_directory-title{
     background: #e69138;
	 padding:10px;
	 margin-bottom:15px;
   }
   .project_directory .project_tabs{
    
	 border-bottom:1px dashed #bababa;
	
   }
   .project_directory .project_tabs em{
   		background: url("../images/mock_arrow_purple.png") center center no-repeat;
	    cursor: pointer;
	    display: inline-block;
	    height: 14px;
	    position: relative;
	    top: 4px;
	    width: 18px;
   }
   .project_directory .project_tabs em.active{
   		background: url("../images/mock_arrow_purple_active.png") center center no-repeat;
   }
   .project_directory .project_tabs span{
     display:inline-block;
	 margin:0 6px;
	 border-bottom:4px solid #ebc3ff;
	 cursor:pointer;
   }
   .project_directory .project_tabs span.active{
     background:#fff;
	 border-bottom:4px solid #640199;
   }
   .project_directory .content{
     margin-top:0;
	 background:#fff;
	 padding:10px;
   }
   .project-directory-content{
     margin:0 10px;
	 background:#fff;
	 padding:10px;
	 width:410px;
   }
   .project-directroy-img{
     width:160px;
	 height:100px;
   }
   .image_slid li{
     float:left;
	 margin-right:10px;
   }
   /*.image_slid li img{
   
   -webkit-transform:   skew(0deg,-30deg);
   
   
   transform:   skew(0deg,-30deg);
   }*/
   
   /* studio */
   h1.studio-title{
     color:#fff;
	 font-size:1.6em;
	 font-weight:bold;
	 background:#e06666;
	 padding:1em;
	 border:1px solid #000;
	 text-align:center;
	 display:none;
   }
   .studio-search{
     text-align:right;
	 margin-bottom:1em;
   }
   .studio-search input{
     border:1px solid #000;
	 border-radius:10px;
   }
   
  #main #content .section{
     padding:0;
   }
   .studio-columeleft{
   	width:18%;
	margin-right:3%;
	float:left;
	padding:1%;
	border:1px solid #000;
   }
   .studio-columeright{
     width:20%;
	 float:right;
	 border:1px solid #fed0d0;
   }
   .studio-columeleft{
     background:#f9cb9c;
   }
   .studio-columeright{
   	background:#fff;
   }
   .region-content .studiocontent ul{
     padding:0;
     margin:0;
   }
   .region-content .studio-columeright ul{
     padding:2px;
   }
    .region-content .studio-columeright li img{
    	display:block;
    	border:2px solid #fed0d2;
    }
    .region-content .studio-columeright li img:hover{
    	border:2px solid #01c501;
    }
   .studio-side{
     border:1px solid #000;
	 margin-bottom:1em;
   }
   .studio-side h4{
     font-size:1.4em;
	 font-weight:bold;
	 background:#ff0;
	 padding-left:1.2em;
	 background:url(../images/mock_arrow_green.png) .4em center no-repeat #ff0;
	 margin:0;
	 cursor:pointer;
   }
   .studio-side-inner h5{
   	font-size:1em; 
	 background:#ff0;
	 padding:0 0 0 1.4em;
	 background:url(../images/mock_arrow_red.png) 0.6em center no-repeat #fff;
	 margin:0 auto;
	 cursor:pointer;
	 border-bottom:1px dotted #bbb;
   }
  
   .studio-side h4.active{
     background:url(../images/mock_arrow_green_active.png) 0.2em center no-repeat #ff0;
   }
   .studio-side-inner h5.active{
     background:url(../images/mock_arrow_red_active.png) 0.2em center no-repeat #fff;
   }
  
   .studio-side-inner li{
     
	 margin-bottom:3px;
	 
   }
  
   
  
   .studio-columeleft .upload{
     padding:0.3em;
	 background:#e69138;
	 text-align:center;
	 font-size:1.4em;
	 margin-bottom:1em;
   }
   .studio-columeleft .upload img{
     position:relative;
	 top:5px;
	 margin-right:10px;
   }
  .studio-columeleft .tour-guide{
  	background:#ddd;
	border:1px solid #000;
  }
  .studio-columeleft .tour-guide h6{
    padding:.2em 0.5em;
	border-bottom:1px solid #000;
	font-size:1.4em;
	margin: 0 0 0.5em 0;
  }
  .studio-columeleft .tour-guide ul{
    padding:1em;
  }
  .studio-columeleft .tour-guide li{
    text-align:center;
	width:48%;
	float:left;
  }
 
  .studio-columeiddle>ul>li>span{
    display:block;
	font-size:.7em;
	text-align:right;
	margin-bottom:15px;
  }
  .studio-columeiddle>ul>li li{
    display:inline-block;
	border:1px solid #FED0D0;
	text-align:center;
	width:128px;
	height:96px;
	margin: 0 2px 0 0;
  }
  .studio-columeiddle>ul>li li.first{
  	width:96px;
  	height:96px;
  }
  .studio-columeiddle>ul>li li img{
  	width:100%;
  	height:100%;
  	display:block;
  }
  .region-content .studio-columeiddle>ul ul{
    margin:-1px 0 0 0;
  }
  .studio-setting{
    position: absolute;
	display:inline-block;
	text-align:center;
	height:41px;
	width:40px;
	cursor:pointer;
	display:none;
  }
  .studio-popup{
    position:absolute;
	width:300px;
	height:320px;
	background:#eee;
	display:none;
	z-index:9;
  }
  .studio-popup .studio-close{
    display:inline-block;
	padding:.5em;
	color:red;
	cursor:pointer;
  }
  .studio-popup table{
    margin:0;
  }
  .studio-popup td{
  	border:0;
  }
  .studio-popup tr td:first-child{
    text-align:right;
  }
  .studio-cover{
    display:none;
	position:absolute;
	z-index:8;
	background:#eee;
	left:0;
	top:0;
	opacity:.5;
  }
  /*dashboard*/
 .project_directory{
 	background:#fff;
 	font-size:85%;
 }
  body.page-home #main{
    background:#036ae0;
  }
  
  body.page-challenges #main{
    background:#640199;
  }
  
  .da-drag-item-box{
    background:#fff;
	border:1px solid #83bdfd;
  }
  .half-box{
    width:49%;
	margin-bottom:1em;
  }
  .half-box-right{
    float:right;
  }
  .half-box-left{
    float:left;
  }
 
  .da-bottom-box .da-tabs-box{
  	font-size:80%;
  }
  .da-tabs-box{
  	border-bottom:1px dashed #bababa;
  	background:#fff;
  	font-size:90%;
  }
  .da-tabs-box em{
    cursor: pointer;
    display: inline-block;
    height: 14px;
    position: relative;
    top: 4px;
    width: 18px;
	background: url(../images/ico_da_blue.png) center center no-repeat;
  }
  .da-tabs-box em.active{
    background: url(../images/ico_da_blue_active.png) center center no-repeat;
  }
  .da-bottom-box{
    background:#fff;
	margin-bottom:1em;
	border:1px solid #83bdfd;
  }
  
   .da-tabs-box span{
   	margin: 0 6px;
   	display:inline-block;
   	text-transform:uppercase;
   	cursor: pointer;
   	border-bottom:4px solid #bddbff;
   }
   
   .da-tabs-box span.active{
   	 border-left:0;
   	 border-right:0;
   	 position:static;
   	 border-bottom:4px solid #036ae0;
   }
   .da-content{
     padding:.2em 1px;
   }
   .region-content .da-content ul{
     margin:0;
	 padding:4px 0;
   }
   .da-content .img-list li{
      width:50%;
	  padding: 1px 0;
	  text-align:center;
	  float:left;
   }
   .temp-fix-height{
   	height:545px;
   }
   .da-content .img-list li img{
     border:2px solid #076bdd;
     width:202px;
     display: block;
   }
   .hide{
     display:none;
   }
   #sidebar-first, #sidebar-second {
    margin-right: 5px;
    width: 160px;
    font-size:85%;
}

body.one-sidebar #content {
    width: 854px;
}
.front h1,
.front .tabs{
  display:none;
}
.front .content{
  margin:0;
}
.mock-nav-right{
  width:925px;
  float:right;
}
.mock-nav-left{
  width:84px;
  height:84px;
  float:left;
  padding-left:10px;
}
.mock-menu-logo{
	width:84px;
	background: url(../images/mock_logo.png) no-repeat;
}
.mock-nav-item{
  float:left;
}
.mock-nav-user{
  float:right;
}
.nav-top-left{
  float:left;
}
.nav-top-right{
  float:right;
}
.nav-top-right span{
  display:inline-block;
  padding:8px 50px 8px 0;
  line-height:27px;
}
.nav-top-right span.floating-window-controller{
	padding:8px 18px 8px 0;
	font-weight:bold;
}
.nav-top-right span.floating-window-controller a{
	padding-left:13px;
	font-size:20px;
}

.nav-top-right span.mav-top-number{
  font-weight:bold;
  opacity:.6;
  color:#fff;
  font-size:1.4em;	
}
.nav-bottom{
  background:#b7007f;
  height:42px;
  overflow:hidden;
}
.page-home .mock-nav{
  background:#036ae0;
}
.page-challenges .mock-nav{
   background:#5b008c;
}
.page-node-104 .mock-nav{
	background:#640199;
}
.page-node-104 .field-item p{
	margin-bottom:0;
}
.page-node-104 .field-item p img{
	display:block;
}
.page-learn .mock-nav{
   background:#058f03;
}
.page-node-15 .mock-nav{
   background:#036ae0;
}
.page-node-41 .mock-nav{
   background:#036ae0;
}
.page-node-42 .mock-nav{
   background:#b12501;
}
.nav-top{
  height:42px;
  overflow:hidden;
}
.admin-intro{
  background:url(../images/mock_admin_intro.png) center center no-repeat;
  width:26px;
  height:26px;
  overflow:hidden;
  text-indent:-9999em;
  margin-left:10px;
}
.location-tab{
  border-bottom: 1px dashed #bababa;
  padding: 0  1.5em;
  background:url(../images/mock_arrow_purple.png) .5em center no-repeat #fff;
  margin-bottom:.4em;
  
  cursor:pointer;
}
.location-tab span{
	display:inline-block;
	margin:0 6px;
	border-bottom:4px solid #ebc3ff;
}
.location-tab.active{
   background:url(../images/mock_arrow_purple_active.png) .5em center no-repeat #fff;
}
.location-tab.active span{
	border-bottom:4px solid #640199;
}
.cha-location{
	border:1px solid #ebc3ff;
	margin-bottom:1em;
}
.toolbar-wrapper{
  position:relative;
}
.region-sidebar-first.active{
  width:9px;
}
.region-sidebar-first.active ul{
  display:none;
}
.toolbar-wrapper-control{
  position:absolute;
  width:7px;
  height:11px;
  background:url(../images/mock_toolbar_collapse_green.png) no-repeat;
  right:0;
  top:5px;
  cursor:pointer;
}
.page-node-15 .toolbar-wrapper-control{
	background:url(../images/mock_toolbar_collapse_red.png) no-repeat;
}
.page-home .toolbar-wrapper-control{
	background:url(../images/ico_da_blue_a.png) no-repeat;
}
.toolbar-wrapper-control.active{
  background: url(../images/mock_arrow_green.png) no-repeat;
}
.page-node-15 .toolbar-wrapper-control.active{
  background: url(../images/mock_arrow_red.png) no-repeat;
}
.page-home .toolbar-wrapper-control.active{
  background: url(../images/ico_da_blue_b.png) no-repeat;
}
/* carousel */
#d3 {
  margin-bottom:1em;
  color: #640199;
}
/* arrow */
.d3-left-arrow,
.d3-right-arrow{
  width:48px;
  float:left;
  margin-top:90px;
  cursor:pointer;
}
.d3-right-arrow{
	float:right;
}

/* item */
.d3-item{
  cursor:pointer;
  position:relative;
  height:300px;
  float:left;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  -o-perspective: 300px;
  perspective: 300px;
}
.d3-item.reload,
.d3-item img.reload{
	transition: all 0.5s linear;
}
.d3-item img{
	transform-style: preserve-3d;
	box-shadow: 0px 5px 5px #000;
}
.d3-item.show-left img,
.d3-item.show-left-fisrt img{
  -webkit-transform: rotateY(68deg);
  transform: rotateY(68deg);
}
.d3-item.show-right img,
.d3-item.show-add-1 img{
  -webkit-transform: rotateY(-68deg);
  transform: rotateY(-68deg);
}
.d3-item.show-left img,
.d3-item.show-right img,
.d3-item.show-left-fisrt img,
.d3-item.show-add-1 img{
	width:205px;
  	height:205px;
}
.d3-item.show img{
	width:300px;
  	height:300px;
}
.d3-item.show-left-fisrt{
	margin:66px 0 0 0;
}
.d3-item.show-left,
.d3-item.show-right{
    margin:66px 0 0 -140px;
}
.d3-item.show-add-1{
	margin: 66px 0 0 -90px;
}
.d3-item.show{
	margin:0 0 0 -90px
}
.d3-item.show-is-first{
	margin:0 0 0 50px;
}
.d3-item.show-is-last{
	margin:0 50px 0 -90px;
}



/*old*/
.d3-item.transformed{
  margin-left:-140px;
}
.d3-item.active{
  margin-left:-90px;
  
}
.d3-item.active img{
	box-shadow: 0px 5px 5px #000;
}
.d3-item.active.the-first{
	margin-left:50px;
}
.d3-item.active.the-last{
	margin-right:50px;
}
.d3-item.active-left{
  margin-left:-90px;
 
}
.d3-item.top-margin{
   margin-top:66px;
}

.d3-item img{
  width:300px;
  height:300px;
}
.d3-item img.preserve-left{
  transform-style: preserve-3d;
  -webkit-transform: rotateY(68deg);
  transform: rotateY(68deg);
}
.d3-item img.preserve-right{
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-68deg);
  transform: rotateY(-68deg);
}
.d3-item img.preserve-left,
.d3-item img.preserve-right{
  box-shadow: -5px 5px 5px #000;
  width:205px;
  height:205px;
}
/*carrsoul old end*/


.studio-mid-title{
	display:inline-block;
	padding:.4em 0.5em;
	text-transform:uppercase;
	border:1px solid #fed0d0;
	color:#fdcfd1;
	font-weight:bold;
}
/*.image_slid{
 -webkit-transform-origin: 180px 0 0;
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  -webkit-transform-style: preserve-3d;
  
  margin-bottom:1em;
}
.image_slid:hover{
  -webkit-animation-play-state: paused;
}
.image_slid img{
  width:300px;
  height:300px;
  display:block;
  float:left;
  position:absolute;
}
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}*/