@charset "utf-8";
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	max-height:100%;
	max-width:100%;
}

/* general */
body{
	background:#333;
}
/*layer1 - ribbon and ribbon popup*/
.pop-up{
	position:absolute;
	width:400px;
	height:500px;
	padding:22px;
	
	top:5em;
	display: none;
	border-radius: 6px;
	
}
span.close{
	font-family:Arial;
	font-size:1.4em;
	display:inline-block;
	padding:0.2em 0.4em;
	float:right;
	cursor:pointer;
}
span.close:hover{
	background:#ccc;
	color:#fff;
}
.ribbon{
	margin:1em auto;
	position:relative;
	width:100%;
	overflow:hidden;
	height:450px;
	cursor:move;
}
.ribbon-inner{
	position:absolute;
	width:100%;
	
}
.ribbon-frame{
	position:relative;
	display:inline-block;
}
.ribbon-stuff{
	visibility:hidden;
}
/* overlay */
.overlay-inner .start{
	cursor:pointer;
	display:inline-block;
	float:right;
	margin:1em 1em 0 0;
	padding:.5em 1em;
	color:#fff;
	font-weight:bold;
	border:1px solid #000;
	border-radius:6px;
	/* fallback */ 
	background-color: #1a82f7; 
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0593c2), to(#00538d)); 
	/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #00538d, #0593c2); 
	/* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #00538d, #0593c2); 
	/* IE 10 */ 
	background: -ms-linear-gradient(top, #00538d, #0593c2); 
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #00538d, #0593c2);
	position:relative;
	z-index:1;
}
.overlay-text{
	padding:193px 0;
	height:80px;
	text-align:center;
	opacity:.95;
	
}
.overlay-text p{
	color:#fff;
	font-size:5em;
	display:inline-block;
	cursor:pointer;
}
.overlay-text p:hover{
	color:#fcff00;
}

/* layer2 - flying text layer */
.flying-text{
	position: absolute;
	z-index:99;
	width:200px;
	background:rgba(255,255,255, 0.8);
	border-radius:8px;
	padding:1em;
	cursor:pointer;
}
.flying-text:hover{
	background:rgba(0,0,0, 0.8);
	color:#fff;
}
/* layer3 - cube and content */
.cover{
	position:absolute;
	top:0;
	left:0;
	z-index: 998;
	background:#ccc;
	opacity: .5;
	display:none;
}
.cube{
	position:fixed;
	top:1em;
	right:1em;
	z-index: 999;
	cursor: pointer;
}
.sound-controller{
	width:26px;
	height:26px;
	position:fixed;
	top:1em;
	left:1em;
	z-index: 999;
	cursor: pointer;
	background:url(../images/ico_mute.png) no-repeat;
}
.sound-controller.active{
	background:url(../images/ico_playsoud.png) no-repeat;
}
.page{
	position:absolute;
	width:1000px;
	height:550px;
	z-index: 999;
	right:0;
	background:#eee;
	display:none;
	
}
.page-inner{
	position:relative;
	border:1px solid #111;
	height:100%;
}
.page-zoom-br{
	position: absolute;
	width:16px;
	height:16px;
	bottom:0px;
	right:0px;
	cursor:nw-resize;
	z-index: 99999;
}
.main-nav{
	/* fallback */ 
	background-color: #1a82f7; 
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0593c2), to(#00538d)); 
	/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #00538d, #0593c2); 
	/* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #00538d, #0593c2); 
	/* IE 10 */ 
	background: -ms-linear-gradient(top, #00538d, #0593c2); 
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #00538d, #0593c2);
}
.main-nav:after,
.page-controller:after{
	display:block;
	content:'';
	height:0;
	clear:both;
	visibility: hidden;
}
.main-nav li{
	float:left;
	font-size:.9em;
	
}
.main-nav li a{
	padding:.5em 0.7em;
	color:#fff;
	text-align:center;
	display: block;
	text-decoration:none;
}
.main-nav li a:hover,
.main-nav li a.active{
	background:red;
}
.page-minimize,
.page-maximize{
	float:right;
	cursor:pointer;
}
.page-drag{
	cursor:nw-resize;
}
.page-minimize,
.page-maximize,
.page-drag{
	display:inline-block;
	height:26px;
	width:26px;
}
.page-drag,
.page-move{
	float:left;
}
.page-move{
	height:26px;
}
.page-move:hover{
	
}
.page-controller{
	cursor:move;
	
}
.landing-iframe,.iframe-cover{
	width:998px;
	height:506px;
}
.iframe-cover{
	position:absolute;
	top:26px;
	left:0;
	background:#fff;
	opacity:0;
	display:none;
}
