@charset "utf-8";
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	max-height:100%;
	max-width:100%;
}
/* general */
html{
	height:100%;
	overflow-y:hidden;
}
body:after,
.nd-page-wrapper:after,
.nd-r-box:after{
	content:'';
	display:block;
	clear: both;
	height:0;
	visibility:hidden;
}
h4{
  font-size:250%;
  font-weight:bold;
}
/* layout */
body{
	padding:10px;
	line-height: 1.5;
	font-size:85%;
	font-family:Tahoma;
}
.nd-page-wrapper{
	margin:10px;
	height:100%;
}
.nd-r{
	width:20%;
	float:right;
	overflow:hidden;
}
.nd-l{
	width:25%;
	float:left;
	margin-right:2.5%;
}
.nd-m{
	width:50%;
	float:left;
}
.nd-l-box,
.nd-r-box{
	overflow:hidden;
	position:relative;
}
.nd-slide-controller{
	position:absolute;
	width:14px;
	cursor:pointer;
}
/* layout detail */
/* right bar */
.nd-r h4{
	text-align:right;
}
.ndr-top-margin{
	margin-top:0px;
}
.nd-slide-box-r{
	position:relative;
	padding-left:14px;
}
.nd-slide-box-r img{
	display:block;
}
.nd-slide-box-r .nd-slide-controller{
	background:url(../images/ico_da_blue_a.png) center center no-repeat #999;
	left:0;
}
.nd-slide-box-r .nd-slide-controller:hover{
	background:url(../images/ico_da_blue_a.png) center center no-repeat #ccc;
}
.nd-slide-box-r.active .nd-slide-controller{
	background:url(../images/ico_da_blue.png) center center no-repeat #ccc;
}
.nd-slide-box-r.active .nd-slide-controller:hover{
	background:url(../images/ico_da_blue.png) center center no-repeat #999;
}
.nd-slide-box-b{
	padding-top:14px;
	position:relative;
}
.vertical-sliding-box .nd-slide-controller{
	background:url(../images/ico_da_blue_c.png) center center no-repeat #999;
	top:0;
	width:100%;
	height:14px;
}
.vertical-sliding-box .nd-slide-controller:hover{
	background:url(../images/ico_da_blue_c.png) center center no-repeat #ccc;
}
.vertical-sliding-box.active .nd-slide-controller{
	background:url(../images/ico_da_blue_b.png) center center no-repeat #ccc;
}
.vertical-sliding-box.active .nd-slide-controller:hover{
	background:url(../images/ico_da_blue_b.png) center center no-repeat #999;
}
/* left bar */
.nd-slide-box-l{
	position:relative;
	padding-right:14px;
}

.nd-slide-box-l .nd-slide-controller{
	background:url(../images/ico_da_blue.png) center center no-repeat #999;
	right:0;
}
.nd-slide-box-l .nd-slide-controller:hover{
	background:url(../images/ico_da_blue.png) center center no-repeat #ccc;
	right:0;
}
.nd-slide-box-l.active .nd-slide-controller{
	background:url(../images/ico_da_blue_a.png) center center no-repeat #ccc;
}
.nd-slide-box-l.active .nd-slide-controller:hover{
	background:url(../images/ico_da_blue_a.png) center center no-repeat #999;
}