@charset "utf-8";
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*general*/
body{
  font-size:16px;
  font-family:Arial, Helvetica, sans-serif;
  line-height:300%;
  colr:#362f2d;
}
a,h1,p span{
  color:#00aeef;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
h1{
  font-size:22px;
}
/* layout */
.email-box{
  height:402px;
  width:454px;
  margin: 0 auto;
  padding:160px 60px 0;
  background:url(http://dev.edgemakers.com/sites/all/themes/newfteui/images/bg_emai.png) left top no-repeat;
}